[2019-11-04 20:07] lazaroclapp opened #2 "Provide script to process PiranhaUtils comments and document"
See #1 comment on the `PiranhaUtils` class.

[2019-11-04 20:09] lazaroclapp opened #3 "Make it so that `./gradlew clean build` does not leave dangling changes"
Steps to repro:

[code]

Shows changes to `sample/src/main/java/com/uber/mylib/MyClass.java` those changes should be reverted after testing, or better yet, happen only on a temporary file/directory for testing.

[2019-11-04 20:18] lazaroclapp opened #4 "General: Figure out a flow for deleting full files for external adopters."
See #2 and [this comment thread](https://github.com/uber/piranha/pull/1/files/f916e2e7b1e22e8488fde0be57f5c82545e9013f#r342228570).

What is the best way for external users to integrate Piranha? EP_PATCH_CHECK followed by file clean up script like we do? Something else?

[2019-12-02 19:44] lazaroclapp opened #6 "Support specifying method and argument index pairs in piranha.properties"
This is needed, e.g. to remove methods under `emptyMethods=...` for which the experiment symbol is not the first parameter.

[2020-02-22 03:47] mkruber opened #13 "Generalize handling of treatment groups"
Currently, the list of treatment groups are customized to a specific usage pattern. e.g., see [pull request 12](https://github.com/uber/piranha/pull/12). It will be better to make this configurable

[2020-02-22 03:50] lazaroclapp commented on #13
This is not a list of treatment groups, but of common group names. Meaning cases where it's counterproductive for Piranha to use the treatment condition name to decide what to delete (e.g. '=treated`, `=enabled`, and so on).

That said, absolutely worth making this a parameter to the checker, with sane defaults.

[2020-03-24 13:50] SaezChristopher opened #17 "Kotlin support"
Amazing tool !
Is the kotlin support is planned ?

[2020-03-24 19:52] mkruber commented on #17
Thanks for your feedback.

Currently, we don't have any concrete plans for kotlin support. Contributions are welcome.

[2020-03-25 19:45] #3 closed

[2020-03-26 15:35] Kavignon opened #22 "Support for .NET"
Are there any plans for support in .NET?

[2020-03-26 15:35] Kavignon commented on #22
Is there a guide available to add support to new platforms/languages?

[2020-03-26 17:23] mkruber commented on #22
Currently, .NET support is not planned. Section 4.3 of the Piranha [report](https://github.com/uber/piranha/blob/master/report.pdf) provides an overview of the refactoring. This, along with one of the existing implementations (e.g.,PiranhaJava), will be a good starting point to start implementing Piranha for any other language.

[2020-03-26 20:30] jan25 commented on #6
Hey @lazaroclapp!
Just to clarify, do you mean like when we have
[code]
We could specify `emptyMethods=(flagEnabled,1),others..` ?

[2020-03-26 20:37] mkruber commented on #6
`emptyMethods` do not return a boolean value. Otherwise, your understanding is correct.

Currently, the expectation is that the first argument for all the flag APIs correspond to the flag name. This can be relaxed by providing this method, argument index pairs in piranha.properties and updating the implementation to respect this.

[2020-03-27 12:43] mkr-plse opened #23 "Extraneous comma should be removed"
[code]
is refactored into

[code]
when `isTreated` returns `true`.  The additional comma should be removed.

[2020-03-31 16:05] techeverri opened #24 "Support for JavaScript/TypeScript"
Hey 👋

Do you have any plans to support JavaScript/TypeScript?

Thanks 👍

[2020-03-31 16:16] mkruber commented on #24
Not currently planned. Contributions are welcome.

[2020-03-31 16:20] techeverri commented on #24
Thanks for the quick reply @mkruber 👍

Do you have a step-by-step guide on how to implement support for new languages?
_I mean something like the internal API docs with examples_

[2020-03-31 16:28] mkruber commented on #24
Section 4.3 of this [report](https://github.com/uber/piranha/blob/master/report.pdf) discusses the overview of refactoring. In order to support Piranha for a new language, we will need to identify a good AST rewriter for that language and implement the Piranha logic on top of it.

Unfortunately, nothing in the current implementation can be reused for cleaning up Javascript/Typescript code.

[2020-03-31 16:32] techeverri commented on #24
Thanks for the link to the report 👍
Section 4.3 doesn't have a lot of information though

[2020-03-31 16:54] msridhar commented on #24
@techeverri for pure JavaScript you could use any parser (like [esprima](https://esprima.org)) to parse the code into a data structure, and then implement the logic for rewriting the code to get rid of flags.  Then you could use something like [escodegen](https://github.com/estools/escodegen) to write out the transformed code.  The general approach of Piranha will be the same, and you can look at

[2020-04-04 16:13] sivacoder opened #25 "Provide Maven integration instruction"
See a well explained Gradle integration example. Would be good

1. To confirm if the tool would work with `maven`
2. If yes, a sample project would help.

BTW, tried on my maven project and struck with below error. Any help would be appreciated.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project myapp: Compilation failure
[ERR

[2020-04-04 16:19] msridhar commented on #25
You will need to get Error Prone working with your Maven build first.  See instructions under "Maven" here:

http://errorprone.info/docs/installation

After that, in principle adding the relevant flags for Piranha _should_ work.  However, I do not believe this has been tested by any of the maintainers.  If you get this working, a documentation contribution would be most welcome!

[2020-04-04 17:15] sivacoder commented on #25
@msridhar - Thanks for quick response.

Yes, I did get the error-prone installation running fine in my project. The project builds with the jdk8 maven profile.

Trouble starts when I add in the Piranha related configuration. Looks like I'm out missing something core, that javac is crying about it.

My maven compiler configuration. **Bold** part is where compiler throws me out.

`    <build>

[2020-04-04 17:21] msridhar commented on #25
I think you need to combine all the error prone arguments into a single Maven compiler `arg` when Error Prone is used as a plugin.  See the example here:

https://github.com/google/error-prone/issues/1242#issuecomment-554964390

[2020-04-06 17:52] sivacoder commented on #25
@msridhar - Thanks for the details. The build went through fine with your suggestion.

But no traces of Piranha getting bootstrapped or executed to clean up the code. Is there a way to check if bootstrapping of Piranha in the application is fine? (meaning, configs are rightly put in)

BTW, I tried a spring boot template maven project and there too, do not see piranha getting invoked in `maven clea

[2020-04-06 19:34] msridhar commented on #25
I’m not an expert on configuration of Piranha. Perhaps @mkruber or @lazaroclapp have an idea

[2020-04-07 04:19] sivacoder commented on #25
@mkruber @lazaroclapp - Can you please help further?

[2020-04-07 12:25] mkruber commented on #25
@sivacoder I don't think this is an issue with your config. It would have thrown an exception.

In this case, it is looking for a memberselect on the function call (`DemoApplication.getIdvalue` instead of `getIdvalue`) which is not found. Can you change the call to the XP API from `getldvalue` to `DemoApplication.getldvalue` and see whether there is any difference? I tried it locally and found tha

[2020-04-07 12:46] sivacoder commented on #25
@mkruber - We tried on the below sample test maven project with your above suggestion.

But, still struck with bootstrapping of Piranha in the app. Any pointers?

Refer the pom integration here - https://github.com/sivacoder/java-maven-piranha-sample/blob/master/pom.xml#L68

Source code: https://github.com/sivacoder/java-maven-piranha-sample

[2020-04-07 12:55] mkr-plse opened #26 "Output summary at the end of execution"
When Piranha is run, output the summary of the run that includes the configuration under which it ran, the number of APIs considered for refactoring, the number of APIs refactored, etc.
Related - issue #207

[2020-04-07 18:15] mkruber commented on #25
@sivacoder With the provided pom, I was unable to run any errorprone checker.

So, used the `pom.xml` from this [link](https://github.com/google/error-prone/blob/v2.3.2/examples/maven/pom.xml) and added the following

[code]
to ensure that errorprone is reporting some problem (added a dead exception to the provided source).

Replacing EP arguments as follows
`<arg>-Xplugin:ErrorProne -Xep:Piranha:

[2020-04-07 20:47] mkruber commented on #25
@sivacoder I have updated instructions for Maven. See [here](https://github.com/uber/piranha/tree/master/java#maven-instructions)

There were a few typos in your `pom.xml`. `-Xep:PatchChecks:Piranha -Xep:PatchLocation:IN_PLACE` should have been `-XepPatchChecks:Piranha -Xep:PatchLocation:IN_PLACE`.

It works for the example given for PiranhaJava. For the specific example given by you, since the fl

[2020-04-08 12:11] manishamishra2715 commented on #26
hii..I am trying to integrate piranha using maven.Also I have configured all the required jar files inside pom.xml file.Also the maven test result is getting successful.But where can I get the expected output??
I m not able to analyse where the output is generated.Please help me with this

[2020-04-08 12:19] mkruber commented on #26
When you build it with the given options in the instruction, the refactoring should happen in place and whatever you provided as source must have been updated.

[2020-04-08 13:22] manishamishra2715 commented on #26
Thanks for quick response...actually the source is not getting updated. I am running by project->Run As->maven test.Also tried with pom.xml->Run As->maven test.Is this the correct approach?
can you please guide me , which one to run?

[2020-04-08 15:02] manishamishra2715 commented on #26
Almost reached the solution referring the previous solutions to the issue raised

[2020-04-08 15:27] msridhar commented on #26
Glad it’s almost working! Two tips for the future:

1. If you’re having a problem with Piranha, please either open a new issue or comment on an issue reflecting the same problem. This issue is about something different.

2. If you’re having a build system integration problem, please provide output from running on the command line. Unfortunately we don’t have time to support IDE integrations at the

[2020-04-08 15:31] manishamishra2715 commented on #25
Hi..using the above, I am able to run the maven based code succcessfully but if the flag is set to true, then the code inside it should be deleted automatically as per piranha rule.but the code still persists.can anyone please guide. Or if the expected output after deletion is coming on any folder?

if (Test.getldvalue("dummy-flag")) {
			System.out.println("success");

		}

		if(!Test.getldvalue(

[2020-04-08 15:37] manishamishra2715 commented on #26
yes sure...thanks for info :)

[2020-04-08 15:39] manishamishra2715 commented on #25
where can I get the refactored code after execution ? the source is not getting updated.please guide

[2020-04-08 16:51] lazaroclapp commented on #25
Please note this explanation by @mkruber :

Piranha currently assumes that flags are fields of `enum` structures, not strings. It should be a fairly contained fix to add a check for string literals and we would be happy to review the PR (if you are at a loss on how to do it, let me know and I'll give it a crack when I get the chance, but it might be faster for you to do it :) )

[2020-04-08 17:49] msridhar commented on #17
FYI I just saw Facebook's ktfmt project:

https://github.com/facebookincubator/ktfmt

This gives an example of parsing Kotlin code and then re-generating code from an AST.  A similar approach could possibly be used to implement Piranha support for Kotlin.

[2020-04-08 17:52] msridhar commented on #22
@Kavignon it looks like roslyn is the way to go for transforming C# code (I assume you wanted C# support):

https://github.com/dotnet/roslyn

Here's an article I found on transforming C# code with Roslyn:

https://tomassetti.me/getting-started-with-roslyn-transforming-c-code/

[2020-04-09 04:40] manishamishra2715 commented on #25
Thank you for response.

[https://github.com/uber/piranha/blob/master/java/sample/src/main/java/com/uber/mylib/MyClass.java](url)
I checked the link u shared and also tried a sample example where flag is used as enum using maven(example as present in the above link). But how to get the expected output??
Can you please guide me the next steps ,like
1. do we have to run through main method or just r

[2020-04-09 04:50] sivacoder commented on #25
First of all, thank TEAM (@mkruber @lazaroclapp @msridhar ) for the timely support on this one. Happy to say we are able to get it integrated with our maven application and it works as per the spec specified.

But, we found a few extension cases we need where the current removal code is not supporting:

1. Ability to use string-literal
`getldvalue("dummy-flag")`

2. Ability to use constants
`
priv

[2020-04-09 12:35] mkr-plse opened #28 "Extensions for PiranhaJava"
Following up on issue [25](https://github.com/uber/piranha/issues/25), the following extensions were requested by @sivacoder:

Filing this issue to continue the discussions here.

[2020-04-09 12:36] mkruber commented on #25
You are welcome. Filed a separate issue to discuss the extensions.

[2020-04-09 12:38] mkruber commented on #25
`mvn clean compile` from command line should create the changes in the source code (in place).

[2020-04-09 12:38] #25 closed

[2020-04-09 19:55] lazaroclapp commented on #28
@sivacoder @mkruber
I'd say the first two are fairly closely related and are easy to address. It involves extending the code of `getXPAPI` [here](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L294).

Currently, it takes a look at `arg` and immediately casts it to a symbol, which it then matches against a symbol/enum name. We need to add

[2020-04-09 20:42] msridhar commented on #28
For b), I think there should be some way to get the `Tree` based on the `Symbol`.  NullAway does it like this:

https://github.com/uber/NullAway/blob/master/nullaway/src/main/java/com/uber/nullaway/NullAway.java#L628

Then from the right-hand side of the declaration, you could use code like this to get the constant value:

https://github.com/google/error-prone/blob/master/check_api/src/main/java/c

[2020-04-13 04:14] manishamishra2715 commented on #28
Hi...first of all thank you for all suggestions you gave fo the issue I raised last time(#25).
I followed all the steps required for piranha integration , but I am getting some unexpected output.
For the simple code link which I shared before, I did mvn clean compile  to get output.
But it is removing the flag name inside code.

enum TestExperimentName {
		SAMPLE_STALE_FLAG;

	}

for the above par

[2020-04-13 06:51] sivacoder commented on #28
@manishamishra2715 - This ticket is to discuss new extensions support. Is it fair for you to create a separate ticket and discuss this issue rather than polluting this one? It's easier to report, trace, fix, and for other who will face the same issue to search and find.

Hopefully, it makes sense.

[2020-04-16 12:26] sivacoder commented on #28
@lazaroclapp  @mkruber @msridhar - For #1 and #2, we have raised this PR - https://github.com/uber/piranha/pull/30

Please review

[2020-04-19 11:37] sivacoder commented on #28
@mkruber @lazaroclapp @msridhar - Can you help with the next steps for #3 and #4 extensions?

[2020-04-19 14:13] mkruber commented on #28
I assume you are referring to 3 and 4 above. The links pointed in the comment refer to different issues.

For issue 3, I propose deleting the checks for argument count [here](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L291). This still assumes that the first argument is the flag name. If you want to extend this further where flag name

[2020-04-23 12:04] mkr-plse opened #35 "Additional paranthesis in PiranhaJava"
Given input:
[code]
the output of PiranhaJava is

[code]

The additional paranthesis around `cond2` should be eliminated.

[2020-04-25 16:12] jitendrs commented on #35
can you please assign to me?

[2020-05-14 15:28] pranavsb opened #37 "PiranhaJava - Doesn't add required space while removing parentheses"
Piranha changed `return(true);` to `returntrue;`.
This is sort of related to #35 - in the sense that PiranhaJava doesn't validate the parens/spaces of the output generated.

This error probably would not have occured if the code had been Google Java formatted.

However, I thought I will bring it to your attention, since this is a case of Piranha introducing a "bug" instead of erring on the side of

[2020-05-14 16:19] msridhar commented on #37
Thanks for the report!  Seems like we should either fix this bug or document that we assume proper (GJF) formatting

[2020-05-15 14:30] pranavsb opened #38 "PiranhaJava - remove flag methods that have no arguments (that don't use enum)"
My codebase defines toggles like this:
[code]

And they are used like this:
[code]

What's the easiest way to make Piranha work? Should I modify Piranha to consider empty method calls that match the method specified in the properties file? (is it just a matter of changing an `if` condition somewhere?)

I'd like to contribute a PR if I get this working!

[2020-05-15 14:39] mkr-plse commented on #38
In the [properties](https://github.com/uber/piranha/blob/master/java/piranha/config/piranha.properties) file, if you include your toggle method in the `treatedMethods`, then depending on the input to Piranha (treated/control), the `then` or `else` branch will be kept.

[2020-05-15 14:44] pranavsb commented on #38
Hi!
I put all possibilities in piranha.properties
`isToggleEnabled,MockToggle.isToggleEnabled,MockToggle`

but it doesn't work.

But I know piranha is configured correctly because dummy branches `if (true)` are getting removed.

[2020-05-15 15:04] mkr-plse commented on #38
Ah, I see the problem. There is no flagname for these APIs. You will need to modify the [code](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L289) for the no flag name case.

A broader fix for this is discussed [here](https://github.com/uber/piranha/issues/6) and [here](https://github.com/uber/piranha/pull/36#pullrequestreview-403458940)

[2020-05-16 08:00] pranavsb commented on #38
I got it working by adding a `mit.getArguments().size() == 0` check to `getXPAPI`, will raise a PR soon.

I'm wondering if it makes sense to extend this so that it checks the invocation to make sure its the correct toggle class and not just match by method name.

Something like this:
piranha.properties
`treatedMethods=MockToggle1.isEnabled`

Application.java
[code]

[2020-05-18 16:40] mkr-plse commented on #38
Instead of an interim fix, I suggest creating a json properties file with the following attributes:
1. method name
2. argument index (0, 1, .. or don't care)
3. return type (boolean, void, ..)
4. receiver type (MockToggle1, MockToggle2, ...)
5. flag type (treated, control)

[2020-05-19 09:09] pranavsb commented on #38
Ah, I see what you mean. I'll try that.

[2020-05-19 19:15] pranavsb commented on #38
This is the `properties.json` structure I'm planning, let me know if I've missed something.

[code]

[2020-05-26 14:21] pranavsb opened #40 "PiranhaJava // Two pass analysis for accurate variable deletion"
This is a known issue in Piranha.

Piranha determines deletion of the specified flag variable and the methods that use it in a single pass. But by specifying `returnType` and `receiverType` in `properties.json`, it is possible to have certain usages deleted and others remain. Thus, deleting the variable would be a mistake because there is at least one undeleted method that still uses it.

This sce

[2020-05-30 09:43] pranavsb opened #41 "PiranhaJava // Use Immutable structures (List/Map) for config data"
In XPFlagCleaner, mutable structures are currently used.

----------------------------------------------------------------
 I'd prefer `ImmutableMap` and `ImmutableList` here and builders. But since the original code was also using mutable collections, I am absolutely fine leaving that for a follow up issue you two can assign to me 😅

_Originally posted by @lazaroclapp in https://github.com/uber/p

[2020-05-30 19:57] pranavsb opened #42 "PiranhaJava // Potential string compare bug in matchIf"
In `XPFlagCleaner`, the `public Description matchIf(IfTree ifTree, VisitorState visitorState)` method uses the equality operator `==` for String comparison instead of `.equals`

`if (update) {
      if (replacementPrefix != EMPTY) {
        replacementString = replacementPrefix + replacementString;
      }`

https://github.com/uber/piranha/blob/dd050f86315ab3e719fa5d22d7f0039ad844b039/java/piranha

[2020-06-01 17:55] Samhithgb opened #43 "PiranhaJava - Unable to remove stale Unit Test code"
Hi,

I'm defining an annotation :

[code]
and using it in my unit test :

[code]
When I build this, although the flag and its corresponding methods in the product code get removed as expected, unit test build fails with the error :

[code]

Any pointers on why this might happen will be really great.

PS : Using this on Android code that uses gradle.

[2020-06-01 18:15] mkr-plse commented on #43
Have you updated the piranha.properties file?

[2020-06-01 18:20] Samhithgb commented on #43
@mkr-plse Yes, this is how it looks :

The methods listed get removed out as expected.

[2020-06-01 18:29] lazaroclapp commented on #43
This sounds like Piranha itself is not being loaded (but Error Prone is and is configured to run piranha). Do you have a sample gradle file showing the issue?

`:app:compileInternalChromeBeta64DebugUnitTestJavaWithJavac` sounds like it potentially uses a custom `javac` command line. Make sure Piranha is on the classpath for it.

[2020-06-01 18:43] Samhithgb commented on #43
@lazaroclapp Thanks for you response.

Adding Piranha to errorprone configuration resolved the issue seems like.

However, there is a new issue : The stale flag gets removed from the product code initially and then the unit test build task fails comlaining :

My gradle file currently looks something like this :

[code]

[2020-06-01 18:46] mkr-plse commented on #43
Can you run it on the test code before the production code? What is happening is that the flag definition gets removed from production and the compilation fails in the test.

[2020-06-01 19:01] Samhithgb commented on #43
Thanks for a quick respnse.

Yes, but the corresponding boolean flag methods inside the unit test are getting removed though.

For example,

[code]

is getting modified into :

[code]

Shouldn't the annotation be removed as well along with methods?

[2020-06-01 19:13] mkr-plse commented on #43
Either the annotation should be removed or the method implementation will be removed. See [here](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L730).

Can you try a few things:
1) delete @Test annotation.
2) instead of the fully qualified name for the flag in the annotation, just use the flag name

Do any of these changes affect the refa

[2020-06-02 05:49] Samhithgb commented on #43
@mkr-plse  I tried both of these, but unfortunately still have issues with removing the annotations.

Initial :

[code]

After build :

[code]

Is there anything else I can try?

[2020-06-02 05:55] Samhithgb commented on #43
This is what I see in build logs :

[2020-06-02 13:07] mkr-plse commented on #43
Update your `piranha.properties` file (which I assume is the one from [here](https://github.com/uber/piranha/blob/master/java/sample/config/piranha.properties)) to include `treatmentGroupMethods`. See the config file that contains all properties [here](https://github.com/uber/piranha/blob/master/java/piranha/config/piranha.properties).

The problem is that this [line](https://github.com/uber/piran

[2020-06-02 15:06] pranavsb opened #44 "PiranhaJava // minor - avoid simplifying when xpFlagName is empty string ("")"
Running Piranha with `-XepOpt:Piranha:FlagName=""` results in the deletion of all static imports.

Two places in `XPFlagCleaner` can cause this, because the code is `.endsWith(xpFlagName)` when comparing with expressions. Since `xpFlagName` is `""`, that always evaluates to true.

The specific places are:
https://github.com/uber/piranha/blob/dd050f86315ab3e719fa5d22d7f0039ad844b039/java/piranha/sr

[2020-06-02 15:27] Samhithgb commented on #43
Great, that worked. Thank you!

Just FYI : There seems to be no documentation available on treatmentGroupMethods field. What does treatmentGroupMethods do? Also, the example refactoring [here](https://github.com/uber/piranha/blob/master/java/README.md#example-refactoring) misses the field as well.

[2020-06-02 15:52] mkr-plse commented on #43
It doesn't do anything special now and will soon be removed.

[2020-06-02 18:32] mkr-plse commented on #43
Fixed in #45.

[2020-06-02 19:19] #43 closed

[2020-06-02 19:19] mkr-plse commented on #42
Fixed in #45

[2020-06-02 19:19] #42 closed

[2020-06-03 06:25] Samhithgb commented on #17
The Kotlin support will be really great!

[2020-06-04 12:01] pranavsb commented on #26
It would also be helpful to output "near misses" during execution?
Makes it easier to identify is the returnType or receiverType is slightly off, for instance. Or if the properties file path was specified incorrectly.

Does it make sense to log it in an optionally specified file or would that be too much overhead?

[2020-06-04 12:47] mkr-plse commented on #26
Great idea. We can do two things here:
a) By default, we will print the summary of what happened as part of the refactoring.
b) Optionally, if the user specifies an option,  we can log the activity of the refactoring process at the appropriate granularity.

The latter will be more expensive but will only be used for debugging the process of refactoring.

[2020-06-08 20:18] mkr-plse opened #46 "Enable NullAway for PiranhaJava"
Tracker for enabling NullAway for Piranha.

[2020-06-09 12:34] pranavsb opened #47 "PiranhaJava // Remove meaningless "assert" and "expect" from JUnits"
Piranha simplification will need manual review and fixing of testcases, but I think it's useful to delete lines like:
`expect(true).andReturn(true);`
`assertFalse(true);`
which Piranha leaves behind in test classes after simplifying toggle expressions.

[2020-06-11 06:06] rohankapoor commented on #17
Kotlin support will be really great!

[2020-06-13 08:36] pranavsb opened #48 "PiranhaJava // Decouple configMethodProperties from its JSON representation"
configMethodProperties in XPFlagCleaner is currently a `Map<String, List<Map<String, Object>>>`.
The `Map<String, Object>` should be replaced with a custom class, like `PiranhaMethodRecord` so it is decoupled from the config file and Piranha can be easily extended to other config specification formats.

For context and details see these comments:
https://github.com/uber/piranha/pull/39#discussion_

[2020-06-13 08:47] pranavsb opened #49 "PiranhaJava // print warning when .properties is used after v0.0.4"
Version 0.0.4 moves to a JSON format for the Piranha config.
When users upgrade, they would have their old `piranha.properties` files lying around.
Piranha should print a warning and point them to the documentation so they can move to a json config.

For context:
https://github.com/uber/piranha/pull/39#discussion_r436967528

[2020-06-14 18:17] pranavsb commented on #47
What's the best way to approach this?

I got it working by trying some basic checks in
`public Description matchMethod(MethodTree tree, VisitorState state)` which is [here](https://github.com/uber/piranha/blob/39a150940454a26dbf60a2ed0406690c63610dc9/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L718)

Very hacky code:
[code]

where `isSimplifiedTestStatement` just does more strin

[2020-06-15 05:13] Samhithgb opened #50 "PiranhaObjC : Unclear usage documentation"
There seems to be a few things missing in Objective C documentation, like :

1. How do we pass piranha.properties file or list of method names corresponding to feature flags (like in PiranhaJava)?
2. What does 'FlagType' mean in the argument list?
3. Is it possible to trigger piranha for the entire project at once, instead of passing each file?

[2020-06-15 12:42] mkr-plse commented on #50
Unlike PiranhaJava and PiranhaSwift, PiranhaObjC properties are hardcoded currently. See the TODO [here](https://github.com/uber/piranha/blob/master/objc/src/XPFlagRefactoring/XPFlagRefactoring.cpp#L40). The implementation has to be updated. Once  #39 lands, we can take this up.

`FlagType` is used for denoting `treatment`, `control`, etc. If the flag is treated, then the treatment APIs for the fl

[2020-06-15 12:49] mkr-plse opened #51 "PiranhaObjC: Use properties.json to specify configuration properties"
Currently PiranhaObjC APIs are hardcoded. See [here](https://github.com/uber/piranha/blob/master/objc/src/XPFlagRefactoring/XPFlagRefactoring.cpp#L40).
Introduce a configuration json file that contains an array of `methodProperties` with `methodName`, `flagType`, `returnType` and `argumentIndex`. See below.

`{
  "methodProperties":
    [
      {
        "methodName": "isToggleEnabled",
        "f

[2020-06-15 12:53] mkr-plse opened #52 "PiranhaSwift: Use properties.json file to specify configuration"
Currently PiranhaSwift APIs are specified using a properties file as shown [here](https://github.com/uber/piranha/blob/master/swift/piranha.properties).  It will be helpful to migrate this to use a json file so that more properties can be specified easily. For instance, it could be an array of `methodProperties` where the `methodName`, `flagType`, `returnType` and `argumentIndex` of the flag are s

[2020-06-15 14:24] mkr-plse commented on #47
Can you post the input code and expected output code? I think updating the `methodProperties` for these methods should handle this issue too.

[2020-06-15 14:36] pranavsb commented on #47
Basically, delete the lines which are test related calls, where Piranha has already visited and substituted with a boolean

Original code

[code]

Piranha modified code

[code]

Expected code:

[code]

[2020-06-15 16:21] mkr-plse commented on #47
This may be a slightly involved fix and it is better to avoid special casing. We will need to implement multi-pass analysis on the code to get this correct.

1. In the first pass, determine the various Piranha refactorings and their locations, but do no rewrite the code.
2. In the second pass, use the information from the previous pass along with standard Piranha refactoring to rewrite.

For the s

[2020-06-15 18:34] swayamraina opened #53 "[question] : how to run sample app in intelliJ locally"
how to run sample app in intelliJ locally?

This will help in understanding and contributing the code. Post this we can add setup and run guidelines to the README.

[2020-06-15 18:42] mkr-plse commented on #53
Once you have the ErrorProne plugin (as described [here](http://errorprone.info/docs/installation)), you can pass the appropriate options for Piranha and it should work.

[2020-06-15 21:02] lazaroclapp commented on #6
Closed by #39

[2020-06-15 21:02] #6 closed

[2020-06-15 21:03] lazaroclapp commented on #38
Closed by #39 ! (thanks again, @pranavsb )

[2020-06-15 21:03] #38 closed

[2020-06-15 21:05] lazaroclapp opened #54 "Tidy up internal data structures (map) generated from properties.json"
`Map<String, List<Map<String, Object>>>`

to something like:

`MultiMap<String, PiranhaMethod>`

[2020-06-16 07:01] SerhiiSolobaievUptech commented on #17
Waiting for Kotlin support 😍

[2020-06-16 12:28] swayamraina opened #57 "[bug]: Incorrect diff produced for `if` expression"
was working on https://github.com/uber/piranha/issues/35 but it seems there is an issue in the current master branch where expressions are not correctly handled in `if` statements

to reproduce simply change the implementation in sample app (MyClass.bak)
[code]

The output diff is,
[code]

[2020-06-16 12:32] swayamraina opened #58 "[enhancement] : Implement a multi-pass analysis"
while working on https://github.com/uber/piranha/issues/57 and https://github.com/uber/piranha/issues/35 i noticed we do not clean up empty methods.

Ideally we should delete methods which result in no-code and also delete their references in parent methods

[2020-06-16 12:53] mkr-plse commented on #58
This is part of a broader problem. For PiranhaJava, multi-pass analysis is not yet implemented.

1. So, if a refactoring results in a method becoming empty, or it returning a constant `true` or `false`, the callers have to be refactored appropriately.
2. Similarly, if the return value of a feature flag API is stored in a variable and re-used elsewhere as part of some other conditional expression,

[2020-06-16 12:57] mkr-plse commented on #57
See the configuration option [here](https://github.com/uber/piranha/blob/master/java/sample/build.gradle#L38). Since the conditionalExpression evaluates to `false`, the output is indeed correct.

Please re-open if you see this behavior when the configuration option is changed.

[2020-06-16 12:57] #57 closed

[2020-06-16 13:24] swayamraina commented on #57
Shouldn't the diff file be,

[code]

as the `boolean base` is a base check and the feature is checked only after the base passes.

[2020-06-16 14:09] mkr-plse commented on #57
Independent of `base`, `expt.flagDisabled(TestExperimentName.SAMPLE_STALE_FLAG)` will return `false` when flag is `treated`. So, the entire conditional expression evaluates to `false`.
Try this example when `treated` is changed to `control`.

[2020-06-16 14:27] mkr-plse commented on #53
@swayamraina Did this work for you? If so, feel free to open a PR to update the doc.
Also, you can ask questions in the gitter channel.

[2020-06-16 14:34] swayamraina commented on #53
Sure, will raise a small PR to update the readme.

I was able to run the project against sanple app but not able to run in debug mode.

[2020-06-16 19:12] #49 closed

[2020-06-16 19:13] #54 closed

[2020-06-17 05:25] swayamraina commented on #53
PR: https://github.com/uber/piranha/pull/59
Have added block regarding 'how to run sample app', do review and comment if you feel something more needs to be added.

[2020-06-17 11:14] Samhithgb commented on #50
Thanks for the response. I have another query actually :

- It is not clear how to get started with ObjC as well. The documentation just days run :

`./piranha-objc.sh <FileName> <FlagName> <FlagType> `

But I get this error when running it :

`./piranha-objc.sh: line 12: ./piranha-objc/bin/clang: No such file or directory`

Is there something else that needs to be run/installed to get started?

[2020-06-17 21:18] mkr-plse commented on #50
`./swift/utils/update-checkout --clone --scheme swift-5.1-branch` is failing and the clang plugin is not being built. Let me get back to you on this.

[2020-06-18 11:40] Samhithgb commented on #50
Hi @mkr-plse Thanks a lot.

FYI, I was able to setup Piranha on a different machine without the above error.

Will the tool be able to parse iOS objC project files, with their imports spread across multiple packages/folders also? When trying out the tool on my project, and getting error :

TestHeader.h is present in a different folder.

[2020-06-18 13:03] mkr-plse commented on #50
I don't think that should affect the refactoring. Can you do two things:
1. Run `test.sh` as suggested [here](https://github.com/uber/piranha/tree/master/objc#development). Do the tests succeed?
2. Then can you just add some simple code (according to how feature flags are implemented in your codebase) in one of the test files and see whether it is refactoring properly?

If both the steps above are

[2020-06-18 13:21] mkr-plse commented on #53
Since the ErrorProne installation link is available from README and nothing else needs to be added to the docs, closing this issue.

[2020-06-18 13:21] #53 closed

[2020-06-18 14:16] mkr-plse commented on #48
This is resolved in #55

[2020-06-18 14:16] #48 closed

[2020-06-18 14:16] mkr-plse commented on #41
Resolved in #55

[2020-06-18 14:16] #41 closed

[2020-06-18 18:13] swayamraina opened #61 "PiranhaJava: add extra space (" ") after 'If' block"
When the input. code is
[code]
and `IsTreated=true`

PiranhaJava emits following output,
[code]

Notice the removed space character in `if (x){`

[2020-06-18 18:14] swayamraina commented on #61
This is a very small issue and requires a one-line fix.
This happens when we try to merge the (if) conditions.

[2020-06-18 19:28] lazaroclapp commented on #46
Done in #62 .

[2020-06-18 19:28] #46 closed

[2020-06-18 19:57] ivarconr opened #63 "Unleash support"
I love this idea. Have anyone looked in to a integration with [Unleash](https://github.com/unleash/Unleash)?

[2020-06-19 16:46] Samhithgb commented on #50
@mkr-plse Thanks for the suggestions.

1. Yes the test.sh is running fine.
2. I added some code to your Treated.m, and seems to work fine as well. (The condition check is getting removed, and only log statement remains, as expected)

The issue is when I run it against my project file, the command fails with an error saying the header file is not found. Is this a known issue? Please let me know. Th

[2020-06-20 02:42] mkr-plse commented on #50
@Samhithgb Confirming that I am able to reproduce this problem. By adding a random "TestHeader.h" in one of the test files, I get a
[code]

I will see what can be done to address this.

[2020-06-20 03:54] mkr-plse commented on #50
As a temporary fix, you can add the following to the `piranha-objc.sh` file.
`-Xpreprocessor -I<path_to_header_file>` after `-fobjc-arc`.
Let me know if this works for you.

The correct fix will be to call `[SetSuppressIncludeNotFoundError](https://clang.llvm.org/doxygen/classclang_1_1Preprocessor.html#ac7bafe67fc32e41460855b39d20ff6af)` from the Piranha implementation. I will file a separate issu

[2020-06-20 03:56] mkr-plse opened #65 "Invoke SetSuppressIncludeNotFoundError to ignore errors when headers files are missing"
When header files are missing in the input files to PiranhaObjC, a fatal error is thrown as follows:
[code]
where `OptimisticNamed.m` is updated to include a non-existent `TestHeader.h`.

The correct fix will be to call [SetSuppressIncludeNotFoundError](https://clang.llvm.org/doxygen/classclang_1_1Preprocessor.html#ac7bafe67fc32e41460855b39d20ff6af) from the Piranha implementation. (see https://gi

[2020-06-20 04:02] mkr-plse commented on #63
We haven't actively explored integrating it with Unleash yet but happy to explore how this can be used as part of that workflow. Can you provide some more context?

[2020-06-20 06:51] Samhithgb commented on #50
Hey @mkr-plse, thanks for your quick response.

Adding header file path to the script maynot be a feasible option since we are planning to have an automated flow for this.

Sure, will be waiting for the issue resolution. Tha

[2020-06-20 06:51] #50 closed

[2020-06-20 07:44] swayamraina opened #66 "remove experiment name enum class from tests"
I see a pending task of removing `enum TestExperimentName` from tests
This is also marked as todo in code as `// Ideally we would remove this too, fix later`
This acts as a boilerplate when adding new test cases and should be removed.

This can be fixed by simply creating a class similar to `XPTest` under test resources and creating handler function like `assertFeatureFlags (String flags...)`
This

[2020-06-20 16:24] mkr-plse commented on #50
@Samhithgb Once #67 is merged, can you verify whether you are able to run the refactoring.
You may still need to customize the exact API calls as part of the implementation.

[2020-06-20 16:31] mkr-plse commented on #66
This is not a problem with tests alone. If the set of flags are removed and the enum becomes empty, Piranha should delete the entire file.

[2020-06-20 18:31] mkr-plse commented on #65
Fixed in #67.

[2020-06-20 18:37] mkr-plse opened #68 "Upgrade PiranhaSwift to use SwiftSyntax 5.2"
[SwiftSyntax](https://github.com/apple/swift-syntax) is at version 5.2 (release tag is 0.50200.0). Piranha uses the 5.1 version and this may be causing issues to users who are on the latest versions of Xcode. See compatibility error [here](https://forums.swift.org/t/swiftsyntax-parser-library-isnt-compatible/37747).

This issue is to upgrade PiranhaSwift to use the latest version.

[2020-06-21 10:38] ivarconr commented on #63
So I'm the core maintainer of Unleash. Recently I have started to explore how we can better help  the users clean up technical debt after the feature toggle has served it's purpose.

I wanted to verify whether anyone else had looked in to connecting Unleash and Piranha, as that would be a natural starting point.

[2020-06-22 13:26] swayamraina commented on #66
i guess then this should be marked as a duplicate or dependent on https://github.com/uber/piranha/issues/58

[2020-06-22 13:28] swayamraina commented on #37
@pranavsb can you please provide the input source code to replicate this.

[2020-06-22 14:35] mkr-plse commented on #28
1,2 and 3 are already addressed. 4 is being tracked elsewhere (e.g., #58)

[2020-06-22 14:35] #28 closed

[2020-06-22 18:45] sp-magicspells opened #71 "Golang support"
Can we start supporting golang?-

[2020-06-22 22:19] atrakh opened #72 "PiranhaJava: Sample application does not build on Oracle JDK 9.0+"
Unsure if this is a trivial fix or not, but I was unable to get the sample application included in this repository to work with Java version 9.0 or higher. Downgrading to Java 8 resolved the issue for me

[code]

[2020-06-23 07:46] pranavsb commented on #37
Hi @swayamraina

Just use a dummy method with the given statement. Like this:
[code]
It's not necessary to add `someMethod` to Piranha config.

Btw, Piranha also simplifies `if(true)` by default, with no config.

[2020-06-23 09:30] swayamraina commented on #37
@mkr-plse IMO it would be better to remove all constant returning methods and substitute the values to variables. But i believe this would require to build the multi-pass layer (https://github.com/uber/piranha/issues/58)

Till then we can fix this issue by checking spacing before doing any fixes. Thoughts?

[2020-06-23 12:16] mkr-plse commented on #37
1. I think Piranha should discard refactoring code related to existing boolean constants, unless specified as an input option.
2. If the input option is specified and the boolean constant is assigned or returned from a method, in the short term, code need not be updated.
3. Long term, this will be resolved with #58.

I don't think the spacing should be updated here because the match will fail due

[2020-06-23 12:23] mkr-plse commented on #71
We haven't currently planned support for Go. Contributions are welcome.

[2020-06-23 13:36] sp-magicspells commented on #71
Thanks @mkr-plse. It would be very helpful If someone from Uber team guide us through supporting another language like Go.

[2020-06-23 14:15] swayamraina commented on #37
agreed. But this isaue is valid when the app is passed through piranha multiple times.

on first pass, piranha reduces the feature flag in a method to a method that returns true (reducing to the above code) or false.
on second pass, piranha resuces the above code to produce an output which produces compilation error.

[2020-06-23 14:19] mkr-plse commented on #71
Happy to help. Here are possible steps:
1. Handcraft an input file with possible uses of feature flag APIs and then manually refactor it for treatment and control behavior. This forms the test for the implementation. For example, this [testfile](https://github.com/uber/piranha/blob/master/swift/tests/testfile.swift) in Swift is refactored as shown [here](https://github.com/uber/piranha/blob/master

[2020-06-24 06:20] Samhithgb commented on #50
@mkr-plse , I am unfortunately still facing this issue after taking in the recent changes. The error message is  :
[code]
Is there any workaround I can follow to avoid this?

[2020-06-24 06:24] Samhithgb commented on #65
@mkr-plse, I am unfortunately still facing this issue after taking in the recent changes. The error message is :

/Users/samhith/Project/featuremanager/FeatureManager.h:6:9: fatal error: 'WMExchangeAccount.h' file not found
#import "WMExchangeAccount.h"

Does the current fix also consider missing header files inside another header file? Please let me know if there is any workaround I can follow to

[2020-06-24 12:50] mkr-plse commented on #65
This should ignore all errors related to missing header files. Can you delete the existing `.dylib` and create a new one by run `./generate-dylib.sh` and try? If not, is it possible for you to create a simple reproducer?

[2020-06-29 17:33] Samhithgb commented on #65
Hey @mkr-plse, I tried the above suggestion, and although the original error is now gone, I'm now getting the following errors :

[code]
Is there anything I can do to overcome these errors? Let me know if you need more info on this. Thanks!

[2020-06-29 18:08] mkr-plse opened #74 "Cannot find interface declaration"
From #65,

[code]
Is there anything I can do to overcome these errors? Let me know if you need more info on this. Thanks!

_Originally posted by @Samhithgb in https://github.com/uber/piranha/issues/65#issuecomment-651260577_

[2020-06-29 18:08] mkr-plse commented on #65
I am closing this as the original problem is resolved. Will continue the discussion in the #74.

[2020-06-29 18:08] #65 closed

[2020-06-29 18:12] mkr-plse commented on #74
This should not error out as only the syntax is being processed. See [https://github.com/uber/piranha/blob/master/objc/piranha-objc.sh#L15](here).

@Samhithgb, is it possible to provide a simple reproducer?

[2020-06-30 06:32] Abhijith-net commented on #17
Will be working on this.
cc: @msridhar

[2020-06-30 18:01] #61 closed

[2020-06-30 18:56] swayamraina commented on #44
The second case mentioned by @pranavsb will actually impact users who write test cases using configuration (or profile) based test cases powered using annotations

[2020-07-01 06:09] Samhithgb commented on #17
@Abhijith-net Thanks a lot, that's great news! Any idea about the timeline for this?

[2020-07-02 18:46] msridhar commented on #17
Also @Abhijith-net would be interested in knowing what libraries you will use for parsing and rewriting Korlam code

[2020-07-04 12:43] #44 closed

[2020-07-07 11:31] Abhijith-net commented on #17
@msridhar Will let you know by this Sunday on the plan. Sorry for delay in response.

[2020-07-07 21:48] vihanparmar opened #76 "Config file not found exception disables PiranhaJava refactoring silently"
I am trying the sample java gradle project and after running clean build piranha only removes the SAMPLE_STALE_FLAG enum but not the code checks. This is the output -

[code]

Here is my gradle file - https://github.com/vihanparmar/testRepo/blob/master/test/build.gradle

Please let me know what i am doing wrong or if this is an issue.

[2020-07-08 13:55] mkr-plse commented on #76
The exception [here](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L221) is thrown, thereby, disabling any refactoring. Fix to this will involve handling the exception and also showing a clear warning that the refactoring will not happen correctly because of this exception.

[2020-07-08 16:37] vihanparmar commented on #76
Why is it throwing that exception? I have added a config here https://github.com/vihanparmar/testRepo/blob/058805be85d1eadf0e49d8ec3e848516f96f1d62/test/build.gradle#L41

[2020-07-08 16:44] mkr-plse commented on #76
Some issue with handling relative paths in the implementation. So, the interim workaround until this issue is resolved is to provide the absolute path for `-XepOpt:Piranha:Config`.

[2020-07-08 17:55] vihanparmar commented on #76
I tried
`    options.errorprone.errorproneArgs.add("-XepOpt:Piranha:Config=Users/vparmar/Documents/GitHub/testRepo/test/config/properties.json")
`
still no luck

[2020-07-08 18:32] vihanparmar commented on #76
Never mind, i updated piranha to 0.1.0 and it worked, thanks for the help.

[2020-07-15 20:35] lazaroclapp opened #77 "PiranhaJava: Piranha versions >=0.1.0 do not error out on piranha.properties as expected"
The old configuration format has been deprecated. It was intended that PiranhaJava crashed when seeing such configuration file as opposed to the new `.json` format. See https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L262

This warning is currently not triggering when deploying Piranha 0.1.0 with the old configuration format, rather Piranh

[2020-07-15 20:36] lazaroclapp commented on #77
Never mind, this is a duplicate of #76

[2020-07-20 21:02] #76 closed

[2020-07-20 21:02] lazaroclapp commented on #77
Closed by #79

[2020-07-20 21:02] #77 closed

[2020-07-23 17:07] Bennet-Sunder opened #80 "Would this be possible in a framework like Ruby or Rails"
Considering that ruby is not statically typed and has meta-programming where it's hard to find the references of a particular flag. Just curious about the possibilities.

[2020-07-27 18:53] mkr-plse commented on #80
It is possible to implement a variant of Piranha for ruby using [Parser](https://github.com/whitequark/parser). As for your question on finding references to a particular flag, it depends on the coding style, the availability of tools to perform alias analysis, etc. If you can share some examples on expected refactorings, I can clarify further.

[2020-07-30 13:06] danew commented on #24
Facebook also have an open source tool which does both parts, the parsing to an AST and the code generation for the output. Could be worth looking at [jscodeshift](https://github.com/facebook/jscodeshift).

[2020-07-30 13:19] mkr-plse commented on #24
Thanks for the pointer. We almost have an implementation for PiranhaJS ready to be open sourced and should be done in the next few days.

[2020-08-03 19:56] Samhithgb commented on #17
@Abhijith-net, curious to know if you were able to start on this?

[2020-08-09 01:33] #24 closed

[2020-08-09 18:52] mkr-plse opened #85 "TypeScript support"
#81 enhanced Piranha for JavaScript as suggested in #24. This issue is to provide support for TypeScript by add TS specific tests and enhancing the implementation.

[2020-08-10 16:55] adellhk opened #87 "Multiple flag support"
Hi, in our (Airbnb) codebase we have slightly duplicative but separate experiment and feature flag ("trebuchet") systems. Additionally, we often combine assignments from both of these systems to produce a combined flag ("feature") which we consume in our product code. We're going to consolidate these systems in the future and are interested in using Piranha to with both our current and future expe

[2020-08-12 17:45] mkr-plse opened #89 "Fix dependabot alert on serialize-javascript"
[code]
Remediation
[code]

[2020-08-12 17:48] #89 closed

[2020-08-13 01:24] atrakh commented on #85
I spiked this on a fork in case anyone is working on this: https://github.com/launchdarkly/piranha/pull/1/files

I was able to refactor a TS file in a local project using this branch, but I haven't tested it thoroughly so I haven't put a PR up against the upstream repository.

[2020-08-13 12:35] mkr-plse opened #92 "[PiranhaJS] Remove declaration of the identifier"
Is it planned for Piranha to support refactoring/removing the declaration of the identifier argument?
e.g. removing all of the code in this block, instead of just the conditional block:
[code]

If we had that functionality, we could likely make the assumption that the configured API argument index always refers to a string literal and expect the flag name to be a string literal node. Being able to

[2020-08-13 14:35] anag004 commented on #92
Not sure if this is relevant, but we might need to make PiranhaJS aware of variable scope here. Without this, the following code
[code]

will be refactored incorrectly when cleaning up one of the flags. For example, when cleaning up `"feature1-flag"`,  `featureFlag` will be replaced by `"feature1-flag"` everywhere.

[2020-08-13 14:39] msridhar commented on #92
The escope library can be helpful for variable scopes:

https://github.com/estools/escope

[2020-08-13 16:33] atrakh commented on #92
Good point... this is some of the magic I hand-waved away 😄

[2020-08-13 17:33] mkr-plse opened #93 "User configuration to specify flag as literal or identifier"
Internally we use string literal calls for JS, but I can see both methods being common. Ideally, every Piranha implementation would support both.

My initial thought was to make this a command line argument, since usage can very on a per-flag or per-file basis (e.g. using an identifier to call a flag API in one file, and a literal in another). Perhaps we can search for both by default, and add a n

[2020-08-13 18:09] lazaroclapp commented on #87
Mostly replying here for visibility, but Adell and I discussed this offline and the best way to proceed seems to be for them to work over a fork of Piranha first to see if that can be adapted to their problem by hard-coding some knowledge of AirBnB's (somewhat involved...) experiment and feature flag architecture. We'll be happy to advise!

Thanks again for the detailed diagram, btw, it was really

[2020-08-14 21:09] atrakh opened #94 "[PiranhaJS] Multi-file support"
This feature request is applicable to all implementations, but I'm submitting it for PiranhaJS as I plan to implement this myself.

PiranhaJS could be enhanced to support deep-cleaning flag imports from multiple files.

e.g. PiranhaJS should remove all of the following code given the input `my-flag`

`flags.js`
[code]

`app.js`
[code]

[2020-08-14 21:16] atrakh opened #95 "[PiranhaJS] PiranhaJS leaves dead code on exported variables"
Command executed:
[code]

Input file (flag.js)
[code]

Expected refactor:
[code]

Actual refactor:
[code]

[2020-08-14 21:23] anag004 commented on #95
Thanks for pointing this out. This kind of problem may be more general. Whenever Piranha removes all statements from a scope, we need to delete the parent of that scope (`export` in your example).

[2020-08-14 22:06] anag004 commented on #94
I had an approach in mind which could be helpful here (if you haven't thought of this already)

1. Stitch multiple JS files into a single large file, by removing import and export statements. Have some way to remember the locations where files were joined together.
2. Run piranha on the composite file as usual
3. Restore import and export statements and split the composite file yielding refactored

[2020-08-14 23:01] atrakh commented on #95
Good idea - I think [UglifyJS](http://lisperator.net/uglifyjs/parser) can concatenate files, keeping track of imports using a sourcemap, and allowing you to regenerate the code after refactoring it.

[2020-09-02 14:58] aakriti-kedia opened #96 "Running the Piranha Pipeline to automatically detect unused flags"
[PiranhaJava](https://github.com/uber/piranha/tree/master/java) directs through the steps for running piranha with flagName specified in the pom.xml but the Piranha paper states that there is a Piranha pipeline that runs automatically in some scheduled intervals to detect state flags. Is there a sample project to get started with the Piranha pipeline ? Also is it possible to trigger the pipeline m

[2020-09-03 12:48] mkr-plse commented on #96
The Piranha pipelines discussed in the paper is not open sourced but we can consider adding a sample project to demonstrate this. Until then, the high level idea is:

1. Obtain the list of stale flags and flag owners from the flag management system (e.g., launchdarkly, unleash, ...)
2. Invoke Piranha with the obtained stale flag and treatment behavior to generate the patch
3. Use the owner info fr

[2020-09-15 19:56] #68 closed

[2020-10-06 15:44] atrakh opened #101 "[PiranhaJS] Refactor engine removes shadowed code"
While working on #94, I realized that the refactor engine needs to know the scope of identifiers referencing removed import identifiers. I discovered that this is a bug that applies generally when piranha encounters a shadowed variable that is meant to be refactored.

Here's a sample scenario running `node src/piranha.js -s <filename> -f my-flag  -p ./config/properties.json --treated`

Input sourc

[2020-10-07 12:48] s7rthak commented on #101
This is an issue we had planned to tackle after implementing an initial version of PiranhaJS where we assumed that variable names would be unique.

I had a solution in mind which will be a "do it yourself" sort of an approach using ideas of introducing an additional property for those variables which are redundant. So, basically we traverse the code AST and find all variables which are referring t

[2020-10-07 17:20] anag004 commented on #101
Thanks for the issue, I think @s7rthak and your approaches are certainly worth exploring. I don't have anything to add solution-wise right now, but just a comment that this kind of problem may not entirely be solved by scopes. The fundamental problem is that as far as PiranhaJS is concerned, variables are equivalent to variable names. It has no notion of variable declaration and usage semantics.

[2020-10-07 22:18] mkr-plse commented on #101
@atrakh If you can create a PR that is tailored to work for your use case, we can use that for now. If necessary, we can handle the more generic case in the future.

[2020-10-12 22:22] atrakh commented on #101
@mkr-plse, will do so once I have that code ready, no timeline as of now as I'm working on this in project downtime

[2020-10-21 10:26] sivacoder opened #103 "[Question] Java-Piranha's dependency on Error Prone"
In the past we have made [PR's to Piranha](https://github.com/uber/piranha/pull/32) to support additional usage patterns.

While integrating Piranha with multiple java micro services in our organisation, we are noticing lots of Error prone reported violations on our micro-service project and it becomes a hard dependency to fix the violations before integrating Piranha.

For new projects, we can ad

[2020-10-21 14:02] mkr-plse commented on #103
You should be able to `-XepDisableAllChecks` and then just enable Piranha check to avoid EP violations. Similarly, `-XepExcludedPaths` can be used to exclude certain paths from analysis. See errorprone [documentation](http://errorprone.info/docs/flags) for more details.

[2020-10-21 20:26] lazaroclapp commented on #103
Keep in mind that `-XepExcludedPaths` will also exclude everything from being processed by Piranha.

`-XepDisableAllChecks` is what you most likely want, if you are not otherwise using Error Prone, followed by the Piranha specific configuration.

[2020-10-27 11:18] sivacoder commented on #103
Thanks @lazaroclapp @mkr-plse for the awesome support. We tested with `-XepDisableAllChecks` and works like charm. Thanks a ton.

[2020-10-27 11:41] sivacoder opened #104 "[PiranhaJava] Ability to detect and removed stale code for specific use-cases"
In the past we have made [PR's to Piranha](https://github.com/uber/piranha/pull/32) to support additional usage patterns. Also, thanks to all the new functionalities added to Piranha Java last few months.

We are in the final stage of putting Piranha to pre-production for our java based micro services. We have hit this two blockers and need your support for this:

**Case 1: Tests using the mocked

[2020-10-27 11:55] sivacoder commented on #96
@mkr-plse - Would be helpful to share a sample project demonstrating the pipeline structure and so on.

More specifically on:

1. Can multiple feature flags be fed to Piranha in one run? Saw your [engg blog on this](https://eng.uber.com/piranha/) and seems like a scheduler is fed with list of flags. Can you share more on this?
2. Can the `flagType` parameter in properties.json be configured per fl

[2020-10-27 12:34] mkr-plse commented on #103
@sivacoder Good to know that it worked for you :)
Reopening this issue until the sample project is updated to show this option.

[2020-10-27 12:48] cnarsimharaju opened #105 "[PiranhaJava] Integrate piranha to our microservice"
We are working on integrating piranha to our micro-service. we followed the steps mentioned in the Readme file. We are using [lombok](https://mvnrepository.com/artifact/org.projectlombok/lombok/1.18.16) in our service.  When we ran the build, below error is observed.

**Stack Trace:**

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on

[2020-10-27 12:52] mkr-plse commented on #96
Piranha will only refactor one flag at a time. However, if the goal is to have multiple flags cleaned up as part of one PR, then a wrapper script can invoke Piranha for each flag and accumulate the patch. Once all the invocations are performed, a PR based on the accumulated patch can be created. This has not been tested effectively and may not work _always_. If cleanup of the first flag introduces

[2020-10-27 12:55] mkr-plse commented on #105
Can you share the conditional branch (`if`) in this method implementation?

[2020-10-27 14:34] mkr-plse commented on #104
In an email, @pranavsb had proposed the following solution:

And then I'm guessing in "matchMethod" we check for this field and check that the subtree contains a treated or control XP API and delete that line.

To elaborate further on that, update the properties.json file to accept an additional configuration for test methods which will wrap an XP API, and then check for those methods in `matchMet

[2020-10-27 15:42] sivacoder commented on #105
Surprisingly, there are no branching statements in this method. Complete code is

`   @Override`
`    public @NonNull`
`    IAMTicket createAndRenewOfflineTicket(@NonNull String realmID) throws Exception {`
`            Ticket ticket = new Ticket();`
`        Request request;`
`        try {`
`            request = new Request().build();`
`            Header header = client.getHeader(request);`
`t

[2020-10-27 15:43] cnarsimharaju commented on #105
@mkr-plse  It is complaining at the function definition i.e

`@Override public @NonNull IAMTicket createAndRenewOfflineTicket(@NonNull String realmID) throw`..

[2020-10-27 20:25] mkr-plse commented on #105
Looks like a lombok+errorprone related [issue](https://github.com/google/error-prone/issues/690#issuecomment-351304525). Can you try the suggestion there (`-Xep:ParameterName:OFF`) and see whether it resolves the issue?

[2020-10-28 11:18] sivacoder commented on #104
Thanks @mkr-plse for the inputs. On #1, we tried some options, but the implementation was getting complicated.

When we intercept `matchMethod`, we are getting the complete statement.
For example: `org.mockito.Mockito.when(experimentation.isToggleDisabled(STALE_FLAG)).thenReturn(false)`

From this, we are able to extract the methodName as `org.mockito.Mockito.when`, but checking if `when` argument

[2020-10-28 12:45] mkr-plse commented on #104
If you call [evalExpr](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L510) on the argument expression to `when` and if that evaluation either returns `Value.TRUE` or `Value.FALSE`, you can remove the entire method expression.

Specifically, expression representing `experimentation.isToggleDisabled(STALE_FLAG)` will be passed to `evalExpr

[2020-10-28 13:30] sivacoder commented on #104
Interesting, thanks @mkr-plse . Let me try `evalExpr` method. Also, is there a standard way to extract the outer method name?

Ie., in this example of `org.mockito.Mockito.when(experimentation.isToggleDisabled(STALE_FLAG)).thenReturn(false)`,
to extract out `org.mockito.Mockito.when`, is there also a standard way to get the method name?

[2020-10-28 14:00] mkr-plse commented on #104
See [getXPAPI](https://github.com/uber/piranha/blob/master/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L380).

[2020-10-28 19:00] lazaroclapp commented on #105
Lombok modifies the AST in memory during compilation, causing a number of issues when Error Prone tries to associate AST nodes back to the corresponding source code. In this case, it's almost certain that Lombok is adding a conditional to the AST that doesn't exist in the source, and there is something in that conditional that Piranha is trying to report/delete. Unfortunately, since the conditiona

[2020-10-28 19:03] lazaroclapp opened #106 "[PiranhaJava] Make Piranha skip code annotated with @lombok.Generated"
And, ideally, a configurable list of annotations denoting generated source or AST structures.

See #105 for the kind of issue this seeks to avoid, and the limitations of this fix.

[2020-10-28 19:09] lazaroclapp commented on #105
Can you provide a delombok-ed version of the full compilation unit (i.e. the .java file)?

See [these](https://projectlombok.org/features/delombok) instructions.

[2020-11-05 17:48] NikitashP opened #108 "[PiranhaJava] Does not not clean up properly after removing feature flag"
The un-referenced methods inside the code Piranha cleaned up is not removed. I was hoping the code which is no more referenced after clean up (dummyMethod in below example) will also be removed and hence a deep cleanup.

Before:
[code]

After:

[code]

[2020-11-05 18:27] mkr-plse commented on #108
When multi pass analysis is implemented (see [here](https://github.com/uber/piranha/issues/58#issuecomment-644743318)), this issue will be resolved.

Until then, to handle this specific problem, we can consider running [Proguard](https://github.com/Guardsquare/proguard) before and after the application of Piranha, and remove the methods/fields that show up in the delta.

[2020-11-06 14:12] NikitashP commented on #108
@mkr-plse Will unused variables caused due to the refactoring also be removed by this change ?

[2020-11-06 18:45] mkr-plse commented on #108
When the two pass analysis is implemented, unused variables will also be handled. We don't have a timeline for the two pass analysis though.

[2020-11-11 09:32] avnerbarr opened #109 "question - what is "implements ExpName""
I read the article. trying to understand how I am to go about implementing this in code.

In the article you show the flag implementing an interface as follows:

[code]

but I don't see what `ExpName` is or how it is defined

later in code you show checking the feature toggle:

[code]

But where is the `experiments` created and how is it defined + passed in?

Can you provide a more complete exampl

[2020-11-13 15:29] mkr-plse commented on #109
While the `implements` case is a use case, there are other ways of defining flags. You can also check the example in code [here](https://github.com/uber/piranha/blob/master/java/sample/src/main/java/com/uber/mylib/MyClass.java). There are a lot more examples in the [tests](https://github.com/uber/piranha/blob/master/java/piranha/src/test/java/com/uber/piranha/XPFlagCleanerTest.java) for other styl

[2021-01-18 12:08] rohankapoor commented on #17
Hi team. Is this something in the works? For us, Kotlin support is a must as most of our code has moved to use Kotlin in the past year.

[2021-01-24 20:53] mkr-plse commented on #17
This is not in the works currently but may be prioritized in the next few months. fyi @lazaroclapp @rajbarik.

[2021-04-06 18:02] lazaroclapp opened #115 "[PiranhaJava] Implement flexible test annotation specification language in configuration"
This long issue is mostly to clarify my own ideas on how to implement a better test annotation specification in our configuration file, and to document those design decisions for posterity.

Feel free to comment on it, particularly if you think I am doing something silly (or something that won't work for your - external / non-Uber - use case!), but I don't expect anyone but me to really read this

[2021-04-06 19:00] mkr-plse commented on #115
Looks reasonable given that the updated spec is similar in style to `methodProperties`.

[2021-04-13 08:19] chiragramani commented on #52
I can take this up 👍🏼

[2021-04-13 13:11] mkr-plse commented on #52
thanks. assigned it to you.

[2021-04-16 14:23] chiragramani commented on #23
I can take this up.

[2021-04-16 14:26] mkr-plse commented on #52
Fixed in #118

[2021-04-16 14:26] #52 closed

[2021-04-20 19:52] #115 closed

[2021-04-21 19:12] lazaroclapp opened #123 "[PiranhaJava] Setter calls and a new unit test clean-up heuristic"
This documents the design decisions behind #121 for future reference (by @mkr-plse' request).

**Overview**

The idea is to better handle removal of obsolete unit tests, which are testing a flag to be removed in a now inapplicable treatment condition, when the information of which flag is being tested is provided by imperative API calls rather than declarative annotations.

We currently support cl

[2021-04-21 19:36] lazaroclapp commented on #123
(Closing, this is for future reference only)

[2021-04-21 19:36] #123 closed

[2021-05-05 18:20] lazaroclapp opened #124 "Migrate PiranhaJava and PiranhaSwift CI to use GitHub Actions"
Travis CI is deprecated for Uber OSS and soon to be sunset, we should switch our CI to be GitHub Actions uniformly (PiranhaJS is already there)

[2021-05-05 18:20] lazaroclapp commented on #124
cc: @mkr-plse @rajbarik for visibility

[2021-05-07 18:43] lazaroclapp commented on #124
All done.

[2021-05-07 18:43] #124 closed

[2021-05-10 20:19] #23 closed

[2021-06-06 15:34] ffmmjj opened #137 "Python support"
Hi everyone,

I've had some success using Piranha with a Java project at my previous job and I'm now starting in a new company that uses mostly Python so I'd like to check how (and if) we could add support for Python in Piranha.

To be honest, I've already started something on my own [here](https://github.com/ffmmjj/piranha-python) and if there're no issues in terms of licensing or overall project

[2021-06-07 13:53] mkr-plse commented on #137
Thanks for reaching out. We certainly would love to have Piranha for Python. Quickly glanced over your implementation which is using [codemods](https://libcst.readthedocs.io/en/latest/codemods.html) and is rewriting the code structurally. This fits in well with other variants of Piranha.

We look forward to integrating your implementation when it is ready.

[2021-06-29 21:19] mevlanaayas commented on #108
@mkr-plse hi after reading this blog from uber https://eng.uber.com/piranha/ it says

Does this quote mean piranha implements dep cleaning or I need to run tools like `proguard`?
I think the question is related to this issue so I'm posting it here. thanks for help

[2021-06-29 21:33] mkr-plse commented on #108
Other variants of Piranha (Swift, JS) have already implemented some form of deep cleaning. AFAIK, Proguard may be able to delete the deadcode from bytecode but not from source. We expect to add this feature to PiranhaJava. Unfortunately, we haven't yet gotten to this [milestone](https://github.com/uber/piranha/milestone/1) yet.

[2021-07-05 05:05] dhwanitgupta opened #139 "Deletion of test cases"
Hi

Can Piranha also delete unit test and integration tests corresponding to the code ?

[2021-07-12 16:52] mkr-plse commented on #139
Yes. Assuming this question is for Java, see discussion in https://github.com/uber/piranha/issues/123.

[2021-07-12 16:52] #139 closed

[2021-07-21 21:01] tnterdan opened #141 "[PiranhaJava] Does not remove Java enum constants with fields matching flag value"
So let's say I have an enum with some code like this:

[code]

Running Piranha with `-XepOpt:Piranha:FlagName=stale.flag` won't remove the `STALE_FLAG` constant from the enum (and therefore will also not remove downstream usages).

I have been working on a fix for this, as my organization uses feature flags in this way. Still waiting on legal approval before I can share any code with y'all, howeve

[2021-07-22 12:56] mkr-plse commented on #141
This is in scope for Piranha. It will be ideal to refactor our implementation to support various styles of flag definitions by decoupling the code cleanup from flag definition inference.

Can you provide a bit more context on how `key` can be associated with multiple flags (`stale.flag`, `other.flag`)? Some examples of the use of `key` with `STALE_FLAG` and `OTHER_FLAG` will be helpful.

[2021-07-22 17:38] tnterdan commented on #141
Thanks for the quick reply @mkr-plse. Glad to hear it's in scope, will be happy to share code once legal approves then.

Let me provide some context. We use LaunchDarkly for our feature flags. We define them in LaunchDarkly using strings in the format `product-name.flag.name`, which doesn't map cleanly to enum constant names. So we had to come up with using the enum `key` field to associate the fl

[2021-07-26 17:18] lazaroclapp commented on #141
So, we support enum flags and string flags, and then allow a series of methods and annotations to be specified inside `properties.json` so that Piranha takes actions on them if they reference the flag. These actions are themselves defined by the configuration inside `properties.json`.

My thoughts here are that this might just be a case of "string valued flags", and the feature that we need to add

[2021-07-26 20:09] mkr-plse commented on #141
+1. Let us add it as part of the same EP pass (if necessary, under an option).

[2021-07-26 20:32] tnterdan commented on #141
Hmm... I suppose if we can do a look up for every enum's String field values or constructor when Piranha encounters that enum being used, it would be possible to do in one pass. Let me see what kind of tools I can use from Error Prone to traverse the AST and I'll get back to y'all with a PR with a new option in the `properties.json` for this. And it looks like legal just approved me for code shari

[2021-08-03 17:16] tnterdan opened #143 "[PiranhaJava] The last enum constant ending in a semicolon cannot be properly cleaned up"
Looking at [matchVariable in XPFlagCleaner](https://github.com/uber/piranha/blob/61ea10a99e0a54f57c711b2015d0298698aeae5a/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L799):
[code]

The assumption is made that a Java enum constant only ends in a `,`, or nothing. But if an enum has methods or a custom constructor, the last enum constant has to end in `;`. This code needs to be rew

[2021-08-24 17:12] #141 closed

[2021-08-30 23:51] tnterdan opened #148 "[PiranhaJava] Remove comments associated with removed enum constants"
Currently, Piranha cleans up enum constants using error-prone's `replace()` method, often using an end position adjustment.

error-prone has a public method in the `SuggestedFixes` class: `replaceIncludingComments(TreePath path, String replacement, VisitorState state` that we could use here to also remove any preceding comments.

However, because we use an end position adjustment to remove the tra

[2021-09-07 22:52] pchaudhary1 opened #149 "Unable to run project in intelliJ"
Hi,

I am unable to Run the project from IntelliJ after adding the plugin to setup pirhana, below is the error.

     error-prone version: 2.9.0
     BugPattern: Piranha
     Stack Trace:
     com.uber.piranha.PiranhaConfigurationException: Error reading config file /Users/pankajchaudhary/Library/Caches/JetBrains/IntelliJIdea2021.1/compile-server/properties.json : java.io.IOException: Provided con

[2021-09-08 02:15] mkr-plse commented on #149
Is there a config file at `/Users/pankajchaudhary/Library/Caches/JetBrains/IntelliJIdea2021.1/compile-server/properties.json`?

[2021-09-08 22:48] #149 closed

[2021-09-08 22:48] pchaudhary1 commented on #149
Looks like my local env. issue

[2021-09-08 23:02] pchaudhary1 opened #150 "Question: Unable to do a deep cleaning of function."
Hi,

As per the documentation, Pirhana support deleting unreachable dead code due to feature flag treatment aka Deep Cleaning.
I followed the steps of creating a custom annotation, but after running "mvn clean compile", it only removed the annotation line.
Can you help me with this? I have attached my Java file and properties file

[code.zip](https://github.com/uber/piranha/files/7132222/code.zip)

[2021-09-09 13:45] mkr-plse commented on #150
Can you attach Java files? Or better, if you can link it to a github source with steps on how you setup Piranha for it, we can look into it.

[2021-09-09 19:22] pchaudhary1 commented on #150
I have zipped the complete project which is a maven project, if you open the POM.xml in intelliJ as a new project your IDE will be setup.

1. There is a class PrihanaDemo.java that has the treatment logic.
2. In the pom.xml I have added the Pirhana plugin.
3. I use the command "mvn clean compile" to trigger the Piranha cleanup

[split-demo.zip](https://github.com/uber/piranha/files/7139225/split-d

[2021-09-22 19:53] pchaudhary1 commented on #150
Hi Murali,

Please find attached link to the github project
https://github.com/pchaudhary1/prihana-demo

Steps to triggering cleanup in java code:
     1. There is a class PrihanaDemo.java that has the treatment logic.
     2. I use the command "mvn clean compile" to trigger the Piranha cleanup

Steps to trigger cleanup in JS code:  (Code for cleanup is in Split.js under javascript folder)
   1. n

[2021-09-23 18:07] #143 closed

[2021-09-29 21:53] pchaudhary1 commented on #150
Hi @mkr-plse,

Can you please let me know if I am doing something incorrect, due to which the deep cleaning / un-reachable code cleanup is not working.

Regards,
Pankaj.

[2021-11-17 14:27] valulucchesi opened #153 "maven release"
I'm looking at your latest changes and they are not released in maven. Are you planning to do a release of them in the short term? Thank you

[2021-11-20 06:14] romaninozemtsev commented on #58
@mkr-plse @swayamraina  is there high level explanation on what needs to be done for a multi pass analysis? may be that could help with contributions.

[2021-11-23 17:21] mkr-plse commented on #153
We can cut a new release after https://github.com/uber/piranha/pull/151 is merged (cc @tnterdan).

[2021-11-24 10:17] yansun1989 opened #154 "[PiranhaJava] Unable to clean up unit test based on setter calls"
Hi，

I am trying to apply setter calls to  handle removal of obsolete unit test. I have followed documents to configure my project. But I found it not works well.

What I have done
1. add set_treated and set_control as types of flag APIs
2. set cleanupOptions properly
3. make sure it's a test method (annotated @Test)
4. make the test checking for the opposite of the treatment condition
being set

[2021-11-29 20:32] ketkarameya commented on #154
Hello @yansun1989 ,

I added a [test case](https://github.com/ketkarameya/piranha/commit/669369eda4edb80ef5124b4f643e9a270692dcb8) for the above example provided by you. This test case runs successfully.
Is this the [output](https://github.com/ketkarameya/piranha/commit/669369eda4edb80ef5124b4f643e9a270692dcb8#diff-651ac1603f7caf092beb6a9074065b0462c106952c82ecacef8e7d119ba23278R684) that you expe

[2021-11-30 17:42] mkr-plse commented on #154
@yansun1989 The `properties.json` does not refer to `putToggleDisabled` or `putToggleEnabled` in the attached zip file. It contains references to `isToggleDisabled` and `isToggleEnabled`. Hence, these calls were not being cleaned up.
@ketkarameya's results are based on the `bbbproperties.json` file (which is the default Piranha properties json) that enables this cleanup. Can you give it another tr

[2021-12-01 10:35] yansun1989 commented on #154
Hi @ketkarameya @mkr-plse  ,
Apologies for not addressing my question clearly. I were trying to refactor the unit test (TestCaseCleanUpTest in zip) based on the "bbbproperties.json" file.
I cloned the Piranha project and ran tests of samples, they worked fine. But when I tried to  apply setter calls to handle removal of my obsolete unit test, it didn't refactor as what I expect.

as mentioned abov

[2021-12-02 18:44] ketkarameya commented on #154
@yansun1989  can u please try Piranha with the option `-XepOpt:Piranha:Config=bbbproperties.json`

[2021-12-06 09:20] yansun1989 commented on #154
@ketkarameya  I've tried Piranha with the option` -XepOpt:Piranha:Config=bbbproperties.json` in my sample ( pitest.zip in pom.xml ) attached before. FlagTypes for `putToggleEnabled` and `putToggleDisabled` methods are set to `set_treated` and `set_control` separately in  `bbbproperties.json `. But in my unit test `TestCaseCleanUpTest`,  `test_StaleFlag_treated` and `test_StaleFlag_control` methods

[2021-12-06 17:34] mkr-plse commented on #58
In the current single pass analysis (in PiranhaJava), the code associated with the feature flags based on the configured APIs is removed. However, the code that becomes dead code due to the deletions in this pass are not deleted by the current implemenation of PiranhaJava. The goal of the multi pass analysis is to be able to identify such dead code and delete them. This has to be a multi-pass anal

[2021-12-15 19:38] michaelchemani opened #157 "PHP support"

[2022-01-03 17:39] ketkarameya commented on #154
Hey @yansun1989 Thanks for sharing the `pom.xml`. I noticed that you are using Piranha version 0.1.4. Can you bump it up to [0.1.5](https://github.com/uber/piranha/releases/tag/v0.1.5-java) and try it?

[2022-01-07 00:34] ketkarameya commented on #104
@sivacoder We have implemented the functionality discussed in this issue, and it is available for use in our latest release.

[2022-01-07 00:48] ketkarameya commented on #35
This issue has been addressed in the latest release (0.1.6). Maybe we can close this issue?

[2022-01-10 21:57] mkr-plse commented on #35
Thanks @ketkarameya. Closing this issue.

[2022-01-10 21:57] #35 closed

[2022-01-11 23:55] ketkarameya commented on #154
@yansun1989  you can also try our latest [0.1.6 release](https://mvnrepository.com/artifact/com.uber.piranha/piranha/0.1.6).

[2022-01-18 17:47] ketkarameya commented on #154
@yansun1989  did it work for you?

[2022-01-27 01:00] ketkarameya opened #164 "Piranha not remove all the usages of the deleted stale flag enum"
Input:
[code]
Expected Output:
[code]

Piranha does not update `List.of(OTHER_FLAG, STALE_FLAG)` to `List.of(OTHER_FLAG)`

[2022-02-03 19:12] ketkarameya opened #166 "Remove unnecessary block in lambda expressions after refactoring"
Piranha transforms:
[code]

to

[code]
Rather it should:

[code]

[2022-02-03 20:05] ketkarameya commented on #164
Note:  this change is easy iff the corresponding parameter is a `vararg` else, it would require a Remove Parameter (Change method signature) refactoring.

[2022-02-03 21:29] wiksien commented on #166
I would like to fix this issue.

[2022-02-04 23:00] ketkarameya opened #168 "Improve code coverage with unit tests"
The code coverage for tests < 90%. https://coveralls.io/builds/46249614

[2022-02-08 00:36] lazaroclapp commented on #166
Note: I think the above should be

[code]

without the extra semicolon. Also, you don't need the parenthesis around the lambda argument for the single argument case.

[2022-02-08 00:39] ketkarameya commented on #166
Correct. Let me fix this and then i ll update you.

[2022-02-11 21:20] #168 closed

[2022-02-11 21:21] ketkarameya commented on #104
Closing this issue. Please reopen if any problems arise.

[2022-02-11 21:21] #104 closed

[2022-03-17 18:01] vvvarunv opened #172 "C# support"
Folks,

I want to see if we have any timelines for c# support. I am happy to contribute. Please provide some pointers on where/how to start.

[2022-03-19 14:48] ketkarameya commented on #172
Hello @vvvarunv ,
We are currently re-architecting Piranha to make it more generic and make it easier to onboard new languages and apis (it is based on  [`tree-sitter`](https://tree-sitter.github.io/tree-sitter/)) - https://github.com/ketkarameya/piranha/tree/feature/piranha-with-tree-sitter
We plan to release its initial version in a few weeks. Please stay tuned. :)

[2022-03-24 02:56] vvvarunv commented on #172
@ketkarameya : Awesome. Eagerly waiting for it

[2022-05-04 22:25] himanshuguptan commented on #58
@mkr-plse @romaninozemtsev Do we have any updates on this milestone for allowing multi-pass refactoring for PiranhaJava?

[2022-05-04 22:27] himanshuguptan commented on #108
@NikitashP Looks like the milestone hasn't been implemented yet. What workaround did you choose to enable such refactoring?

[2022-05-05 08:29] NikitashP commented on #108
After the Feature Flag clean-up, another round of dead code clean-up using ErrorProne works. The clean is not Targetting but it does perform clean up. In the end with or without Feature Flag clean up you don't want dead code on master so can justify it that way.

[code]

[2022-05-07 20:42] ketkarameya opened #177 "Piranha-Generic release (pending items)"
- [x] Rename `piranha-tree-sitter` to `piranha`
- [x] More reorganization
- [x] Improve CI
- [x] Add unit tests
- [ ] Add tests for rules ?

[2022-05-07 20:47] ketkarameya opened #178 "Infer tree-sitter query from an example"
Unsurprisingly the current generic implementation requires users to manually encode the rules for on-boarding a new feature flag API system or when on boarding a new language. It would be very cool if we can infer the rules!

[2022-05-09 20:30] mkr-plse commented on #108
@NikitashP We are working on making this much easier with a newer implementation of Piranha. See [here](https://github.com/uber/piranha/tree/master/generic). Please check it out as we expect it to be very customizable and adaptable for various use cases. cc @ketkarameya

[2022-05-09 20:31] mkr-plse commented on #58
@himanshuguptan We are working on making this much easier with a newer implementation of Piranha. See [here](https://github.com/uber/piranha/tree/master/generic). Please check it out as we expect it to be very customizable and adaptable for various use cases. cc @ketkarameya

[2022-05-13 19:13] #177 closed

[2022-05-27 19:30] #178 closed

[2022-06-02 06:23] Srihari123456 opened #183 "Unable to Refactor when flag is passed as argument to function in another file"
The refactoring works if the flag is used inside a function. But when I call a function in another file and pass the value of a stale flag as an argument, the refactoring doesn't take place inside the called function.

file1.js
[code]

file2.js
[code]

**Expected Output:**

file1.js
[code]

file2.js
[code]

**Obtained Output**

file1.js
[code]

file2.js
[code]

It would be great if a workaround is

[2022-06-02 14:12] ketkarameya commented on #17
@rohankapoor @Abhijith-net  @Samhithgb @SerhiiSolobaievUptech @SaezChristopher We have added some support for Kotlin (it's in the main branch) . :) Please try it out, and we can iterate over it.

[2022-06-03 17:09] Srihari123456 commented on #183
Hey @ketkarameya
Within the same file the behaviour is as follows:

**Case 1:**
Before Refactoring:
[code]

After Refactoring:
[code]

**Case 2:**
Before Refactoring:
[code]

After Refactoring:
[code]

**Case 3:**
Before Refactoring:
[code]

After Refactoring:
[code]

Based on these observations, I'm unsure if the ```inline parameter when possible``` functionality is present.
Its the variable whic

[2022-06-03 17:55] ketkarameya commented on #183
I see. Piranha is blindly substituting `a` with `true` through out the file. Thanks for reporting this bug. Do you want to take a shot at it (for the current `PiranhaJavascript` implementation)? We are currently re-architecting Piranha (`generic`), I will reason about `inline parameter` in there.

[2022-06-04 17:41] Srihari123456 commented on #183
Sure @ketkarameya . Will give it a try

[2022-06-06 12:58] krmahadevan commented on #105
@lazaroclapp - I have hit this same issue.
Here are some details around my project

My lombok annotated java class

[code]

The delomboked java class that was generated

[code]

Below is how the maven compiler plugin has been configured

[code]

My dependencies look like below

[code]

Here's how the stacktrace looks like

[code]

[2022-06-06 13:03] krmahadevan commented on #105
fwiw, the contents of `src/main/resources/config/properties.json` is as below

[code]

[2022-06-06 13:11] krmahadevan commented on #106
@lazaroclapp - If I were to take a jab at this issue (The label ` good first issue` seems lucrative), what is the expectations from this issue ? Is it merely confined to lombok (or) should we be considering something else as well ?

[2022-06-06 13:50] mkr-plse commented on #105
We are pivoting towards [Polyglot](https://github.com/uber/piranha/tree/master/generic) Piranha, which is a common code deletion infrastructure across multiple languages. (cc @ketkarameya)

@krmahadevan Can you try that version?

[2022-06-06 13:52] mkr-plse commented on #106
If this is an issue in the Polyglot [version](https://github.com/uber/piranha/tree/master/generic), we can explore fixing this in a generic manner also by adding appropriate tree-sitter rulers. (cc @ketkarameya)

@krmahadevan Can you try that version?

[2022-06-06 14:48] krmahadevan commented on #105
@mkr-plse - I can give it a try. Let me go through the documentation to find out what I need to be doing to adopt it and then give it a try. Oh btw, is there any chance wherein the binaries are pre-built for `piranha` so that I can skip the part of building these binaries ? Or should I just stick to cloning the repo, point to a recent tag, build the binary locally and only then use it? Eventually

[2022-06-06 14:59] ketkarameya commented on #105
Hey @krmahadevan we are planning to release the pre-built binaries for `piranha/generic` soon. :)
I know it's painful that developers will have to build the binaries now. There are a few more small fixes and cleanups I want to do before I make the binary available :|. My goal is that Piranha will be available as
1. as a cargo crate  (since `piranha/generic` is developed in Rust)
2. as binaries for

[2022-06-06 15:06] krmahadevan commented on #105
@ketkarameya - That's nice 👍 I was dreading that I had to learn the rudiments of rust (Yet another programming language 😄 ).. to be able to build the binary. But good to know that you folks are on top of that as well.

I will give this a shot at my end and see if I can get past my problem. Please bear with me if I keep coming back with some really silly questions until then. The notion of AST and

[2022-06-06 15:49] ketkarameya commented on #105
Feel free to ask us anything related to `tree-sitter`, or even the `rules` for Piranha.  We want improve our documentation too. So feel free if to tell us if you don't understand something there.

[2022-06-06 15:57] krmahadevan commented on #105
Yes sure. Goes without saying. I can try to add some additional details in the `README.md` if I think that would help others use as well via a PR.

[2022-06-06 16:30] mkr-plse commented on #172
@vvvarunv Do you want to try adding support for Piranha for C#? See documentation [here](https://github.com/uber/piranha/tree/master/generic).

[2022-06-07 12:38] krmahadevan opened #185 "[Piranha Generic] [Documentation] Broken links in the documentation"
In [Getting started with Piranha](https://github.com/uber/piranha/tree/master/generic#getting-started-with-piranha) below links are broken:

* [edges.toml](https://github.com/uber/piranha/blob/master/demo/java/configurations/edges.toml)
* [java-ff_system1](https://github.com/uber/piranha/blob/master/piranha/test-resources/java/feature_flag_system_1/control/configurations/rules.toml)
* [java-ff_sys

[2022-06-07 12:42] krmahadevan opened #186 "[Piranha Generic]Need additional information in document for edges and creating tree sitter query"
Can we add more information pertaining to the relevance of the edges file and what usually goes into it ? Also maybe add some examples so that it's easy to understand this?

Also the documentation points to [this tree sitter link](https://tree-sitter.github.io/tree-sitter/using-parsers#pattern-matching-with-queries) to understand pattern matching with queries.

Here's an example of the query from

[2022-06-07 12:50] krmahadevan opened #187 "[Piranha Generic] Incomplete Enum cleanup compared to the behavior with PiranhaJava"
PiranhaJava basically removes not only the treated part, but it also removes the enum values which are now going to be obsolete and have no usages.

But I don't see the same behaviour when working with `Piranha Generic`.

Here's an example

**Original Java class**

[code]

Now with the below arguments and configuration file, when I run the piranha cli, I notice the output class looks like below

*

[2022-06-07 12:51] krmahadevan commented on #187
ping @ketkarameya

[2022-06-07 12:51] krmahadevan commented on #186
ping @ketkarameya

[2022-06-07 13:20] krmahadevan commented on #187
Yes It does. That was why I guessed that the fully qualified name was needed. I can live with that, but the enum itself is not getting cleaned up. Any thing that I need to be adding to get it to do that as well, else over a period of time, the enum is going to have a lot of stale values which would need a manual clean-up

[2022-06-07 13:39] krmahadevan commented on #186
Capturing my understanding .

When we create a `piranha_arguments.toml` file which looks like below

[code]

We are telling piranha to do the following:

* I am giving you Java source files.
* Please create 3 variables viz.,
  * `treated` with its value as _true_
  * `stale_flag_name` with its value as _salute_dragon_warrior_
  * `treated_complement` with its value as _false_ (Not sure where this

[2022-06-07 14:03] ketkarameya commented on #187
I usually play around with queries in this playground- https://tree-sitter.github.io/tree-sitter/playground

[2022-06-07 14:04] ketkarameya commented on #187
Adding a rule for deleting empty Enum declarations could be done easily by adding a cleanup rule for Java. I will do that.

[2022-06-07 14:34] krmahadevan commented on #187
@ketkarameya

This is nice. Any pointers with how I can try out actually writing some queries ?

For e.g., here's what I did

* Opened up the playground portal
* Copy pasted the same class used in this example.
* Pasted the below query

[code]

Nothing happened 😢

[2022-06-07 15:05] mkr-plse commented on #187
In your example, was the invocation of `isToggleDisabled` deleted? The updated `sampleMethod1` still shows the invocation.

[2022-06-08 05:51] krmahadevan commented on #187
Ok, I think I kind of have a hang of it now. But its going to take some more time for me to play around. Do you think it would be a good idea for us to add some concrete samples around code snippet, corresponding rules.toml and some narrative around how it would work? We can perhaps cross correlate how the UI would look on the playground website so that it kind of gives a live walk through and hel

[2022-06-08 06:01] krmahadevan commented on #187
I took another jab at it (Perhaps there were some copy paste errors as well)

**My original code looks like this**

[code]

**piranha_arguments.toml**

[code]

**rules.toml**

[code]

The modified code after running the piranha cli **Main class**

[code]

The cleaned up enum (Notice that as you mentioned, the `,` does not get removed). I didn't notice tree sitter playground also showing me some wa

[2022-06-08 06:32] krmahadevan commented on #187
Oh btw.. @ketkarameya any idea by when the `,` removal would be fixed because that kind of is holding me back on completing my PoC that i wanna present to the engineering folks at my company.  I think once that is ironed out, then we are all good to go for me.

Please let me know

[2022-06-08 13:31] krmahadevan commented on #187
You the man!!!

On the write up part, I will try to get to it over the weekend and share what I have by early next week (Gonna be out of town for a couple of days).

[2022-06-08 13:45] ketkarameya commented on #157
@michaelchemani we have now developed a generic piranha version now. It could be possible to onboard PHP since tree-sitter grammar for PHP is available. :)

[2022-06-08 14:53] mkr-plse commented on #157
Also, instructions to onboard are [here](https://github.com/uber/piranha/tree/master/generic). We anticipate 2-3 days of effort for supporting a new language.

[2022-06-11 01:07] ketkarameya commented on #187
Hey @krmahadevan ! Please pull the latest. I have updated Piranha to handle deleting enum declarations when empty too.

[2022-06-16 02:56] krmahadevan commented on #187
@ketkarameya - My apologies for getting back late. I had to travel out of town for a personal exigency and got stuck with stuff. I just now tested this out. This works fine. Thank you so much for helping out on this. I still need to create that narrative that explains how to use the tree-sitter UI and understand how to parse it. Its on my TODO list. I think we can now close off this issue.

[2022-06-16 03:31] ketkarameya commented on #187
Awesome. I am happy it worked for you. I will close this issue once I add support for removing stale import statements.

[2022-06-20 07:33] Srihari123456 commented on #94
@anag004 @atrakh has this issue been resolved?

[2022-06-22 21:35] ketkarameya commented on #187
Btw @krmahadevan binaries are now available :)

[2022-06-22 21:41] #187 closed

[2022-06-25 03:43] krmahadevan commented on #187
Awesome. I will give it a shot and come back.

[2022-06-27 09:07] eankit opened #199 "Does Piranha support scala projects"
Does Piranha have support for scala with current code or can it be supported with minimalistic changes in java?

[2022-07-04 20:08] #185 closed

[2022-07-11 15:24] mkr-plse commented on #199
You can potentially add rules for Scala and make Piranha applicable for Scala. See [here](https://github.com/uber/piranha/tree/master/polyglot)

[2022-07-11 22:23] ketkarameya commented on #199
@eankit you can use https://github.com/tree-sitter/tree-sitter-scala for the grammar. I think the rules will be very similar to the ones implemented for Java/Kotlin.

[2022-07-22 21:34] vvvarunv commented on #172
@mkr-plse : Let me check it out

[2022-08-05 23:12] ketkarameya opened #207 "Introduce a `match-only` feature"
Often users (incl. internal users) don't want to perform the actual rewrite, rather they just want a report of the feature flag api usage - file, start-line, start-col, end-line, end-col.  Even better, can we generate a report for all changes (/matches) performed ? Related - issue #26

[2022-08-05 23:16] ketkarameya commented on #87
@adellhk you should try the new polyglot piranha (inside `polyglot/piranha`) and check if it supports your usecase.

[2022-08-06 05:46] j1nma commented on #207
+1 to this! Thanks for bringing it up!

[2022-08-07 17:41] ketkarameya commented on #17
Closing this issue for now. Let us know, if you have problems using it.

[2022-08-07 17:41] #17 closed

[2022-08-07 17:42] #153 closed

[2022-08-07 17:43] ketkarameya commented on #109
Hey! I am closing this issue for now. If you still have questions, feel free to reopen them.

[2022-08-07 17:43] #109 closed

[2022-08-07 17:45] ketkarameya commented on #80
@Bennet-Sunder This can now be done by adding support for Ruby in polyglot-piranha .

[2022-08-07 17:48] ketkarameya commented on #137
@ffmmjj you can now add Python support for Piranha by onboarding Python on to [Polyglot Piranha](https://github.com/uber/piranha/tree/master/polyglot).

[2022-08-07 17:53] ketkarameya commented on #105
@krmahadevan I am assuming that your issue was resolved and am closing this issue for now.  Feel free to reopen the issue incase you have any more questions.

[2022-08-07 17:53] #105 closed

[2022-08-07 17:55] ketkarameya commented on #72
@atrakh please try polyglot piranha. It should work irrespective of your Java language version. I am closing this issue for now. Please feel free to reopen in case you are facing any difficulties using it.

[2022-08-07 17:55] #72 closed

[2022-08-07 17:56] ketkarameya commented on #47
This has been resolved in #156.

[2022-08-07 17:56] #47 closed

[2022-08-07 17:59] ketkarameya commented on #58
@swayamraina  @himanshuguptan we have developed the initial version of [polyglot piranha](https://github.com/uber/piranha/tree/master/polyglot). Let us know, if it is performing the "deep" cleans that you want.
If it is not, please feel free to open a new issue describing the expected deep clean.

[2022-08-07 17:59] #58 closed

[2022-08-07 18:01] ketkarameya commented on #154
@yansun1989 I am closing this issue for now. Please feel free to reopen it, incase it doesnt work for you.

[2022-08-07 18:01] #154 closed

[2022-08-07 18:04] ketkarameya commented on #4
@lazaroclapp I am closing this issue for now.  I guess it is resolved, since we have successfully released Piranha with Error prone.

[2022-08-07 18:04] #4 closed

[2022-08-07 18:07] ketkarameya commented on #66
@mkr-plse @swayamraina I am closing this issue. With polyglot piranha we can now delete empty enums, and files with empty enums/classes. Please feel free to reopen, if you have any questions.

[2022-08-07 18:07] #66 closed

[2022-08-07 18:10] ketkarameya commented on #94
@atrakh[ polyglot piranha ](https://github.com/uber/piranha/tree/master/polyglot) can now support this type of cleanup, though the JS support needs to be added to it. I am closing this issue for now. Feel free to reopen it or open another issue if you have any other questions or feature request.s

[2022-08-07 18:16] ketkarameya commented on #92
@atrakh we can now perform this kind of cleanup in [polyglot piranha](https://github.com/uber/piranha/tree/master/polyglot).
However, on-boarding JS of Polyglot Piranha is pending.
I am closing this issue for now, since polyglot piranha allows developers to support for such cleanups.
Feel free to reopen this issue if you have further questions.

[2022-08-07 18:16] #92 closed

[2022-08-07 18:30] ketkarameya commented on #96
@aakriti-kedia I am closing this issue. Feel free to reopen it, if you have further questions.

[2022-08-07 18:30] #96 closed

[2022-08-07 18:32] ketkarameya commented on #164
This can be now done in Polyglot Piranha by simply adding a rule. Closing for now.

[2022-08-07 18:32] #164 closed

[2022-08-07 19:15] ketkarameya commented on #207
Closing. This is a duplicate of #26 . @j1nma please track #26 for updates.

[2022-08-07 19:15] #207 closed

[2022-08-07 19:21] ketkarameya commented on #148
Since the PR corresponding to this issue is merged, I am closing this issue.

[2022-08-07 19:21] #148 closed

[2022-08-07 20:01] j1nma commented on #26
Could this also work independently from the in-place removals?

That is, run Piranha and only get this summary, and don't modify any files.

[2022-08-07 20:03] ketkarameya commented on #26
Yes. Polyglot Piranha allows one to express match-only rules. So the task you suggest could also be done.

[2022-08-07 20:05] j1nma commented on #26
❤️. Can we expect this sometime this year?

[2022-08-07 20:06] ketkarameya commented on #26
Oh yea ! My plan is to do it much much sooner.  This is also an internal requirement so ...

[2022-08-07 23:28] ketkarameya commented on #51
If we someone onboards ObjC for Polyglot Piranha, this issue will be taken care of.

[2022-08-08 01:19] ketkarameya commented on #63
Hey @ivarconr ! Please look into [polyglot piranha](https://github.com/uber/piranha/tree/master/polyglot) . Maybe it will serve your purpose. It is now easier to add a new api and new language into piranha. :)

[2022-08-08 04:03] krmahadevan commented on #105
@ketkarameya - Thanks for following up. I got sidelined at work with other stuff. I will come back with any additional queries on this once we get back to working on the feature flags notion and then using Piranha for auto reversal of obsolete feature flags.

[2022-08-08 16:44] mkramanathan commented on #137
@ketkarameya Can this issue be left open until Python support (tree sitter queries) is added to Piranha?

[2022-08-08 16:45] mkramanathan commented on #94
@ketkarameya Can this be closed after Piranha support for JS (in the form of tree sitter queries) is added?

[2022-08-16 15:18] ketkarameya opened #214 "Python Bindings for Polyglot Piranha"
Add Python bindings for
(i) Generating Piranha rules (`toml` files)
(ii) Running Piranha with these rules

[2022-08-30 07:51] himanshuguptan opened #226 "[PiranhaJava] Annotation based cleanup on methods works only when flag name is same as specified in the config"
## Description:
Annotation-based cleanup looks for an exact string match on the flag name as specified in the `build.gradle`.
It doesn't look for the requisite enum name relationship for the specified flag name.
For example,
Case 1: Piranha:FlagName="STALE_FLAG", IsTreated = true,
[code]
Expected: someMethod() gets deleted
Actual: someMethod() isn't deleted

---

Case 2: Case 1: Piranha:FlagName="

[2022-08-30 09:12] himanshuguptan opened #227 "[PiranhaJava] Removes extra parenthesis while refactoring conditional expressions"
PIRANHA removes extra parenthesis when used as shown below in a conditional expression.
Before refactoring:
[code]
---

After refactoring:
[code]

[2022-08-30 22:02] himanshuguptan opened #228 "[PiranhaJava] PiranhaRuntimeException when using enumProperties & cleaning via string literal"
We are running into `PiranhaRuntimeException`, as specified [here](https://github.com/uber/piranha/blob/29cfd5c4b46aca6c9bc6e9b3e6688f8910e9f213/java/piranha/src/main/java/com/uber/piranha/XPFlagCleaner.java#L517).

I see a TODO here to use symbol table instead.
Is there any timeline for the fix?

[2022-08-31 02:37] ketkarameya opened #229 "Rename `rules.constraints` to `rules.exclude`"
Rationale:
as @lazaroclapp mentioned in one of the [reviews](https://github.com/uber/piranha/pull/225/files/ea753b3e7a7fd7d6890674a0b789d80e61f992b0#r959090037), `exclude` or `filter` is a better term for [this](https://github.com/uber/piranha/blob/master/polyglot/piranha/src/models/rule.rs#L54) attribute than `constraints`, since it is basically a "exclude-filter".
The goal here is straightforwar

[2022-09-02 03:28] Pencilvesterr opened #232 "Failing to create scope query"
### Reproducing Error
For a very simple use case:
[code]
There is one rule that identifies the feature flag and deletes it, then a second rule containing a query will not find a match, and so not complete.
[code]
These rules are connected with a very simple `edges.toml` file:
[code]

When connected with `scope=Global` or `scope=Parent`, then the first rule completes successfully, and the second ru

[2022-09-02 21:30] ketkarameya commented on #232
Hey! In this [PR](https://github.com/uber/piranha/pull/220) I added support for "File" scope for Java.  Are you using latest `master` ?

[2022-09-02 21:51] ketkarameya commented on #232
Also you might want to take a look at the second rule. The `replace` field uses the tag `@lamba_function_body` but i do not see it initialized anywhere.

[2022-09-02 21:52] ketkarameya commented on #227
Hey! Thanks for reporting this. I was wondering if you mind trying the polyglot piranha version ? We are actively developing that project.  It has support for Java, Kotlin and we have plans to support many other languages on that framework.

[2022-09-02 21:53] ketkarameya commented on #228
Hey! Thanks for reporting this. I was wondering if you mind trying the polyglot piranha version ? We are actively developing that project. It has support for Java, Kotlin and we have plans to support many other languages on that framework.

[2022-09-02 22:10] ketkarameya opened #233 "Make a pip release and update documentation"
- [ ] Make `pip` release
- [x] Try testPypi relesase (it works for mac/ubuntu)

Add documentation for :
- [x] python bindings
- [x]  "Cleanup Rule" group
- [ ] Global Vars
- [x] Match-only rules
- [x] Some examples for how it can be used beyond feature flag cleanup
- [x] `--no-default-features` for mac os
- [x] `cleanup_comments` entry in piranha_arguments
- [x] Talk about `PiranhaOutputSummary`
-

[2022-09-02 22:15] ketkarameya commented on #226
[This](https://github.com/uber/piranha/blob/master/polyglot/piranha/test-resources/java/feature_flag_system_2/treated/configurations/rules.toml#L165) rule in polyglot Piranha kinda does what you want ?

[2022-09-02 23:56] Pencilvesterr commented on #232
This is running master from #230, so does include the changes for `File`.

This example was pulled from our more complicated real example. I've the `@lambda_function_body` and collected the files into [this](https://github.com/Pencilvesterr/scope_query_error_reproduction) repo for ease of reproduction & testing. Cheers :)

[2022-09-03 04:43] ketkarameya commented on #232
Hey! i just tried your example on the latest master branch. It seems to work okay for me - it does'nt throw any exceptions.

Can you try it again on current master?

The steps I followed is :
* Checkeout [this](https://github.com/Pencilvesterr/scope_query_error_reproduction)
* Checkout Piranha
* cd polyglot/piranha
* cargo build --release
* cd target/release
* ./polyglot_piranha -c <...>/scope_que

[2022-09-05 00:30] Pencilvesterr commented on #232
Amazing, #233 fixes it :) Thanks for all your help!

[2022-09-05 00:54] Pencilvesterr opened #235 "Pyo3 extension module build error"
With the latest changes to master from #219, the following error occurs when trying to build `polyglot/piranha`. The below log is from an intel MacBook Pro, but the same occurs when trying on an M1 Mac (Arm).

Polyglot can still build successfully when disabling this feature (`cargo build --release --no-default-features`).

[code]

[2022-09-05 03:35] ketkarameya commented on #235
Hey ! This is expected behavior. For macos, we have to add the `--no-default-feature` flag :|
[Reference](https://pyo3.rs/latest/faq.html#i-cant-run-cargo-test-or-i-cant-build-in-a-cargo-workspace-im-having-linker-issues-like-symbol-not-found-or-undefined-reference-to-_pyexc_systemerror)

[2022-09-05 03:37] ketkarameya commented on #232
Closing this issue.

[2022-09-05 03:37] #232 closed

[2022-09-05 04:26] Pencilvesterr commented on #235
Ah good to know, cheers!

[2022-09-05 04:26] #235 closed

[2022-09-05 17:25] #214 closed

[2022-09-05 17:26] #186 closed

[2022-09-05 17:30] ketkarameya opened #236 "Delete associated comment after deleting a statement/field/method/enum entry ..."
Add an option that deletes comments at the line of deletion / above the line of deletion . In the below example, we can see a number of ways in which a comment can be "associated" to a class field.
[code]

This feature is required across all languages.

[2022-09-07 23:35] #236 closed

[2022-09-08 15:05] ketkarameya opened #240 "Create a demo that uses the python interface"
Create a python equivalent of our current `demo/run_demo.sh`.

[2022-09-12 14:21] #240 closed

[2022-09-12 14:34] ketkarameya commented on #26
@j1nma I have added the functionality you requested for. Can you try now?

Basically you have to create `match-only` rules for your feature flag API.
So u can build upon [stale_feature_flag_cleanup_demos](https://github.com/uber/piranha/blob/master/polyglot/piranha/demo/stale_feature_flag_cleanup_demos.py) and [match_only_demos](https://github.com/uber/piranha/blob/master/polyglot/piranha/demo/mat

[2022-09-14 06:18] himanshuguptan commented on #227
Hi @ketkarameya , thanks for replying. We have already integrated with the regular Piranha version for now and were looking for support for these bugs. Any timelines for the fix?

Also, for the polyglot piranha through Python library, I see that the project 'polyglot-piranha' version '0.1.2' has no published source distribution(sdist) on Pypi.org. Our organization currently does not allow for inst

[2022-09-15 00:45] ketkarameya commented on #227
Hey @himanshuguptan we don't really plan to keep actively maintaining the Java version. We are trying to get everyone onboarded onto Polyglot Piranha.

About the `sdist` : Yea I will add it to the next release. I will add it to the Github workflow that publishes the release.
Until then, I would recommend getting started with the demos. [Getting started with demos](https://github.com/uber/piranha/t

[2022-09-20 12:00] nagraj-ec opened #250 "deep cleanup is not working with demo for kt and java"
as per the instruction, running  `demo/stale_feature_flag_cleanup_demos.py` is expected to do deep clean ups.
Version : polyglot-piranha-0.1.2 , Apple M1 Max, Version 12.5.1

Before the stale_feature_flag_cleanup_demos

[code]

After the stale_feature_flag_cleanup_demos

[code]

isn't it expected to have deep clean ups with piranha-polyglot ?

[2022-09-20 12:49] dvmarcilio commented on #250
Thanks for reporting this @nagraj-ec. I also got the same output when installing polyglot-piranha-0.1.2 through `pip install polyglot-piranha`, but not from source. It looks like a new version needs to be published to PyPI.

Could you report back after running the demo again by installing from source (`pip install .`)?

[2022-09-20 13:03] ketkarameya commented on #250
@nagraj-ec thanks for reporting this. Yes I observed this issue on ubuntu too. The problem was that the built-in cleanup rules are not being packaged in the wheel.  I have fixed the problem in #247 . I have not made a release yet, will do it this week.

[2022-09-21 03:42] nagraj-ec commented on #250
thanks @dvmarcilio @ketkarameya for the response, I tried installing from the source `(pip install .)`, could able to successfully install polyglot_piranha-0.1.2. But running the demo scripts encountering below issues

[code]

I am on Apple M1 Max, OS Version 12.6

[2022-09-21 03:58] ketkarameya commented on #250
Can you please try :
[code]
You might have to install [Rust](https://rustup.rs/)

Try to run the demos after this.

[2022-09-21 03:59] ketkarameya commented on #250
do you have a virtual environment activated before you tried `pip install .`? If not, can u please try :
[code]

[2022-09-21 04:42] nagraj-ec commented on #250
Have virtual environment activated before running pip install ., i guess its MAC M1 causing the issue.
`rustup show` causes
Default host: aarch64-apple-darwin

[2022-09-21 10:56] #250 closed

[2022-09-24 18:32] ketkarameya opened #255 "Bug when disabling the user option `delete_file_if_empty` option"
The options `delete_file_if_empty`, `dry_run` and `delete_consecutive_new_lines` do not work as expected for certain combinations.

[2022-11-14 15:16] #26 closed

[2022-11-14 15:17] ketkarameya opened #266 "Allow user to set `number_of_ancestors`"

[2022-11-14 15:17] ketkarameya opened #267 "Allow user to set `number_of_ancestors` for `Parent` scope"

[2022-11-16 02:36] #266 closed

[2022-11-16 02:37] ketkarameya opened #270 "Add support for applying rules only in particular range of a specific file."

[2022-11-16 02:39] ketkarameya opened #271 "Refactor entire polyglot piranha to use workspaces"
Refactor the code to look something like this:

[code]

[2022-11-16 10:07] dvmarcilio commented on #270
As context, specifying a particular range in a file for a rule could be helpful when there are duplicated nodes.
More specifically, a seemingly common pattern in Go is to keep assigning an error to the same identifier.

Currently, there is no easy way to clean up the error handling if statement for the call with `enabledFlag` in the snippet below.
Matching `err != nil` would also wrongly match the

[2022-11-16 10:48] dvmarcilio opened #272 "Better Python `PiranhaOutputSummary`"
Currently, it's not easy to manipulate a `PiranhaOutputSummary` returned by the Python API.
As seen below, printing and traversing the summary can be non-intuitive.
Some ideas to ease the burden:

- pretty print the summary and nested classes
- expose the summary classes as typed python classes. ideally, this would lead to IDE autocompletion

[code]

[2022-11-28 14:43] dvmarcilio opened #277 "Automatically run `cargo fmt` and `cargo clippy`"
We want all PRs to be formatted.
Should we run these commands as a pre-commit hook?  As part of CI?

[2022-11-28 18:11] ketkarameya opened #278 "Substitution of multiple holes does not work inside constraints."
I observed that only the first hole gets replaced inside constraints.

[2022-11-28 18:13] ketkarameya opened #279 "Include/Exclude specific (patterns) of files"

[2022-11-29 20:13] ketkarameya opened #281 "Allow loading rules and edges from multiple configuration folders"